{% extends "course/base.html" %}{% load humfrey_desc %}

{% block title %}Course catalogs{% endblock %}

{% block content %}
  <h1>Course catalogues</h1>

  <p>The Oxford Course Data project makes the following course catalogues available.</p>

  <p>Please note that the linked files may be rather large.</p>

  <p><i>XCRI-CAP (Full)</i> contains multiple provider elements per catalogue,
     whereas <i>XCRI-CAP (Simple)</i> provides a single provider to meet the
     requirements of the
     <a href="http://www.jisc.ac.uk/whatwedo/programmes/elearning/coursedata/stage2.aspx">JISC
     Course Data Programme</a>.</p>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Provider</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>{% for subject in subjects %}
      <tr>
        <td>{{ subject.label }}</td>
        <td>{{ subject.description|default:""|node }}</td>
        <td>{{ subject.dcterms_publisher.label }}</td>
        <td>{% for renderer in feed_renderers %}
          <a href="?uri={{ subject.uri|urlencode }}&amp;format={{ renderer.format}}">{{ renderer.name }}</a>{% if not forloop.last %} •{% endif %}{% endfor %}
        </td>
      </tr>{% endfor %}
    </tbody>
  </table>

{% endblock %}
