{% extends "course/base.html" %}

{% block content %}
  <h1>Course data</h1>

  <p>This site contains course data produced as a part of the University of
     Oxford's involvement in <a href="http://www.jisc.ac.uk/">the JISC</a>'s
     <a href="http://www.jisc.ac.uk/whatwedo/programmes/elearning/coursedata/stage2.aspx">course
     data programme</a>. At the moment we have data for graduate training
     opportunities and other skills courses. Unfortunately we do not yet have
     data for undergraduate and postgraduate degree courses.</p>

{% endblock %}