{% if analytics %}
<script type="text/javascript" src="//www.oucs.ox.ac.uk/shared/stylesheet/js/jquery.cookie.js"></script>
<script type="text/javascript" src="//www.oucs.ox.ac.uk/shared/stylesheet/analytics/analytics.js"></script>
<script type="text/javascript">
  optionalAnalytics({
	  analyticsID: "{{ analytics.id|escapejs }}",
	  domain: "{{ analytics.hostname|escapejs }}",
	  doNotTrack: {{ do_not_track|yesno:"true,false" }},
	  privacyPolicyURL: "{{ analytics.privacy_policy_url|escapejs }}",
	  policy: "out-out"{% if analytics.login_possible %},
	  bannerText: "We would like to use cookies to collect data on how people use our site. {% if not user.is_authenticated %}By default, no analytics cookies will be set unless you log in. You may <a id=\"analytics-accept\">accept and dismiss this notice</a>, or <a id=\"analytics-reject\">decline</a>.{% else %}Analytics cookies are currently being set, which you can <a href=\"analytics-reject\">disable</a>. If you're happy for cookies to continue to be set, you may <a id=\"analytics-accept\">dismiss this notice</a>.{% endif %} See our <a id=\"analytics-policy\">cookie policy</a> for more information, and to change your preference later."{% endif %}
  });
</script>
{% endif %}
