[submodule "dataox/static/jquery-collapsible-content"]
	path = dataox/static/jquery-collapsible-content
	url = git://github.com/oucs/jQuery-Collapsible-Content.git
[submodule "dataox/static/jquery-cookie"]
	path = dataox/static/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie
