[submodule "dataox/static/lib/jquery-collapsible-content"]
	path = dataox/static/lib/jquery-collapsible-content
	url = git://github.com/ox-it/jQuery-Collapsible-Content.git
[submodule "dataox/static/lib/jquery-cookie"]
	path = dataox/static/lib/jquery-cookie
	url = git://github.com/carhartl/jquery-cookie.git
[submodule "dataox/static/lib/DataTables"]
	path = dataox/static/lib/DataTables
	url = git://github.com/DataTables/DataTables.git
[submodule "dataox/static/lib/jquery"]
	path = dataox/static/lib/jquery
	url = git://github.com/jquery/jquery.git
[submodule "dataox/static/lib/oauth2"]
	path = dataox/static/lib/oauth2
	url = git://github.com/ox-it/javascript-oauth2.git
[submodule "dataox/static/lib/flot"]
	path = dataox/static/lib/flot
	url = git://github.com/flot/flot.git
[submodule "dataox/static/lib/jquery-ui"]
	path = dataox/static/lib/jquery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "dataox/static/lib/openlayers"]
	path = dataox/static/lib/openlayers
	url = git://github.com/openlayers/openlayers.git
