feedparser
django-conneg
html2text
redis>=2.4.9
django-maintenancemode
django-dirtyfields
gssapi
python-dateutil
raven
django-pipeline
django-celery-beat
django-celery-results
requests
ldap3
celery
-e git+git://github.com/ox-it/django-webauth#egg=django-webauth
-e git+git://github.com/ox-it/oxford-django-shibboleth#egg=django-shibboleth
-e git+git://github.com/ox-it/oauth2app#egg=oauth2app
-e git+git://github.com/ox-it/python-sharepoint#egg=sharepoint
