feedparser
django-conneg
html2text
redis>=2.4.9
sharepoint
django-maintenancemode
django-dirtyfields
python-dateutil
raven
django-pipeline
django-celery-beat
django-celery-results
requests
ldap3
celery
-e git+git://github.com/ox-it/django-webauth#egg=django-webauth
-e git+git://github.com/ox-it/oauth2app#egg=oauth2app
