  {% if subject.oo_contact %}
  <div class="contactInfo" >
  <h2>Contact information</h2>
  <p>For more information, contact:</p>
  <ul>{% if subject.oo_primaryContact %}{% with subject.oo_primaryContact as contact %}
    <li>{% if contact.actual_label %}{{ contact.actual_label }}{% endif %}{% if contact.actual_label and contact.email %}, {% endif %}{% if contact.email %}<a href="{{ contact.email.uri }}">{{ contact.email|slice:"7:" }}</a>{% endif %}</li>{% endwith %}{% endif %}
  {% for contact in subject.all.oo_contact %}{% if contact.uri != subject.oo_primaryContact.uri %}
    <li>{% if contact.actual_label %}{{ contact.actual_label }}{% endif %}{% if contact.actual_label and contact.email %}, {% endif %}{% if contact.email %}<a href="{{ contact.email.uri }}">{{ contact.email|slice:"7:" }}</a>{% endif %}</li>{% endif %}{% endfor %}
  </ul>
  </div>
  {% endif %}