{% extends "equipment/view/base.html" %}{% load humfrey_desc %}{% load humfrey_thumbnail %}{% load hosts %}


{% block breadcrumbs %}<li><a href=".">{{ item.source.label }}</a>{% endblock %}

{% block extra_head %}{{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}OpenLayers-2.12/OpenLayers.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
{% endblock %}

{% block with_right_sidebar %} with-right-sidebar{% endblock %}

{% block right_sidebar %}
  <aside class="right-sidebar">
  
  {% if subject.foaf_depiction %}
    <section>
      <h2 class="hidden">Image</h2>
      <img src="{% thumbnail subject.foaf_depiction.uri width=220 %}" alt="Image of {{ subject.label }}"/>
    </section>
  {% endif %}

  {% if subject.geo_lat and subject.geo_long %}
    <section>
      <h2>Map</h2>
      {% include "widgets/map.html" with width="224px" height="224px" %}
    </section>
  {% endif %}
  
  {% with subject.spatialrelations_within.v_adr as adr %}{% if adr %}
    <section>
      <h2>Address</h2>
      {% if subject.spatialrelations_within.label %}
        {{ subject.spatialrelations_within.label }}<br/>
      {% endif %}
      {% if adr|property:"v:street-address" %}
        {{ adr|property:"v:street-address" }}<br/>
      {% endif %}
      {% if adr|property:"v:extended-address" %}
        {{ adr|property:"v:extended-address" }}<br/>
      {% endif %}
      {% if adr|property:"v:locality" %}
        {{ adr|property:"v:locality" }}<br/>
      {% endif %}
      {% if adr|property:"v:postal-code" %}
        {{ adr|property:"v:postal-code" }}<br/>
      {% endif %}
    </section>
  {% endif %}{% endwith %}
  
  {% with subject.spatialrelations_within.all.foaf_depiction as depictions %}{% if depictions %}
    <section>
      <h2>Images of building</h2>
      {% for depiction in depictions %}
        <img src="{% thumbnail depiction.uri width=220 %}" alt="Photograph of {{ subject.spatialrelations_within.label }}"/>
      {% endfor %}
    </section>
  {% endif %}{% endwith %}
  </aside>
{% endblock %}

{% block content %}
{% include "equipment/login_prompt.html" %}
  <h1>{{ subject.label }}</h1>
  {% if item.source.page %}<p>{% for page in item.source.page %}
  <a href="{{ page.uri }}">{{ page.uri }}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}</p>{% endif %}

  {% if subject.description %}
  <p>{{ subject.description|node }}</p>
  {% endif %}

  <table>{% if subject.dcterms_subject %}
    <tr>
      <th rowspan="{{ subject.all.dcterms_subject|length }}">Category:</th>{% for category in subject.all.dcterms_subject %}{% if not forloop.first %}</tr><tr>{% endif %}{% if category.skos_notation %}
      <td><a href="{% url browse category.skos_notation %}">{{ category.label }}</a></td>{% else %}
      <td>{{ category.label }}</td>{% endif %}{% endfor %}
    </tr>{% endif %}{% if subject.oo_organizationPart or subject.oo_formalOrganization %}
    <tr>
      <th>Managed by:</th>
      <td>{{ subject.oo_organizationPart|node|default:"" }}{% if subject.oo_organizationPart and subject.oo_formalOrganization %}, {% endif %}{{ subject.oo_formalOrganization.label|default:"" }}</td>
    </tr>{% endif %}{% if subject.foaf_based_near or subject.spatialrelations_within %}
    <tr>
      <th>Location:</th>
      <td>{{ subject.spatialrelations_within|node|default:"" }}{% if subject.foaf_based_near and subject.spatialrelations_within %}, {% endif %}
          {{ subject.foaf_based_near.label|default:"" }}</td>
    </tr>{% endif %}{% if subject.oo_relatedFacility %}
    <tr>
      <th>Facility:</th>
      <td>{{ subject.oo_relatedFacility|node }}</td>
    </tr>{% endif %}{% if subject.oo_availability %}
    <tr>
      <th>Availability:</th>
      <td>{{ subject.oo_availability.label }}</td>
    </tr>{% endif %}{% if subject|property:"adhoc:equipment-shareability" %}
    <tr>
      <th>Shareability:</th>
      <td>{{ subject|property:"adhoc:equipment-shareability"|property:"skos:prefLabel"|capfirst }}</td>
    </tr>{% endif %}{% if subject.oo_accessPrerequisite %}
    <tr>
      <th>Access prerequisites:</th>
      <td>{{ subject.oo_accessPrerequisite.label }}</td>
    </tr>{% endif %}{% if subject.oo_useRestriction %}
    <tr>
      <th>Restrictions on use:</th>
      <td>{{ subject.oo_useRestriction.label }}</td>
    </tr>{% endif %}{% if subject|has_type:"gr:Individual" or subject|has_type:"gr:SomeItems" %}
    <tr>
      <th>Quantity:</th>
      <td>{% if subject|has_type:"gr:Individual" %}
        1 item
       {% else %}{% if subject.gr_hasInventoryLevel.gr_hasValue %}
       {{ subject.gr_hasInventoryLevel.gr_hasValue }} items
       {% else %}
         unknown
       {% endif %}{% endif %}</td>
    </tr>{% endif %}{% if subject.foaf_page %}
    <tr>
      <th>More information:</th>
      <td><a href="{{ subject.foaf_page.uri }}">{{ subject.foaf_page.uri }}</a></td>{% endif %}
    </tr>
  </table>

{% include "equipment/view/contact.html" %}
{% endblock %}

{% block tertiary_content %}{{ block.super }}
  {% if more_like_this.hits.total %}
  <h2>More like this</h2>

  <ul>{% for hit in more_like_this.hits.hits %}
    <li><a href="{% url item hit.id %}">{{ hit.source.label }}</a>{% if hit.source.description %}<br/>{{ hit.source.description|truncatewords:10 }}{% endif %}</li>{% endfor %}
  </ul>
  {% endif %}
{% endblock %}
