{% extends "equipment/view/base.html" %}{% load humfrey_desc %}{% load humfrey_thumbnail %}{% load hosts %}


{% block content %}
{% include "equipment/login_prompt.html" %}
  <h1>{{ subject.label }}</h1>
  
  <table>
    <tbody>{% if subject.dcterms_subject %}
      <tr>
        <th rowspan="{{ subject.all.dcterms_subject|length }}">Category:</th>
        <td>{% for category in subject.all.dcterms_subject %}
        {% if not forloop.first %}</td></tr><tr><td>{% endif %}{% if category.skos_notation %}
        <a href="{% url browse category.skos_notation %}">{{ category.label }}</a>{% else %}
        {{ category.label }}{% endif %}{% endfor %}
      </td></tr>{% endif %}{% if subject.oo_organizationPart or subject.oo_formalOrganization %}
      <tr>
        <th>Managed by:</th>
        <td>{{ subject.oo_organizationPart|node|default:"" }}{% if subject.oo_organizationPart and subject.oo_formalOrganization %}, {% endif %}{{ subject.oo_formalOrganization.label|default:"" }}</td>
      </tr>{% endif %}
    </tbody>
  </table>

{% include "equipment/view/contact.html" %}

{% include "equipment/view/equipment_list.html" with equipment_list=subject.all.oo_relatedFacility_inv show_location=1 %}


{% endblock %}