{% extends "equipment/view/base.html" %}{% load humfrey_desc %}

{% block with_right_sidebar %} with-right-sidebar{% endblock %}

{% block content %}
{% include "equipment/login_prompt.html" %}
  <h1>{{ subject.label }}</h1>
  
  {% if subject.description %}
  <div class="description">{{ subject.description }}</div>
  {% endif %}

  {% if subject.foaf_homepage %}
  <p class="homepage">Homepage: <span><a href="{{ subject.foaf_homepage.uri }}">{{ subject.foaf_homepage.uri }}</a></span></p>
  {% endif %}

{% if subject.allEquipment %}
  <section>
  	<h2>Equipment</h2>
  	
  	{% include "equipment/view/equipment_list.html" with equipment_list=subject.allEquipment show_location=1 %}
  </section>
{% else %}
  <p>No equipment to display. Try logging in.</p>
{% endif %}
{% endblock %}

{% block right_sidebar %}
  <aside class="right-sidebar">

  {% with subject.v_adr as adr %}{% if adr %}
    <section>
      <h2>Address</h2>
      {% if subject.spatialrelations_within.label %}
        {{ subject.spatialrelations_within.label }}<br/>
      {% endif %}
      {% if adr|property:"v:street-address" %}
        {{ adr|property:"v:street-address" }}<br/>
      {% endif %}
      {% if adr|property:"v:extended-address" %}
        {{ adr|property:"v:extended-address" }}<br/>
      {% endif %}
      {% if adr|property:"v:locality" %}
        {{ adr|property:"v:locality" }}<br/>
      {% endif %}
      {% if adr|property:"v:postal-code" %}
        {{ adr|property:"v:postal-code" }}<br/>
      {% endif %}
    </section>
  {% endif %}{% endwith %}
  </aside>
{% endblock %}