{% extends "equipment/view/base.html" %}{% load humfrey_desc %}{% load humfrey_thumbnail %}{% load hosts %}

{% block with_right_sidebar %} with-right-sidebar{% endblock %}

{% block content %}
{% include "equipment/login_prompt.html" %}
  <h1>{{ subject.label }}</h1>

  {% comment %}
  <ol>
  {% for item in subject.hierarchy %}
    <li>{{ item|node }}</li>
  {% endfor %}
  </ol>
  {% endcomment %}

  {% if subject.description %}
  <div class="description">{{ subject.description }}</div>
  {% endif %}

  {% if subject.foaf_homepage %}
  <p class="homepage">Homepage: <span>{{ subject.foaf_homepage|node }}</span></p>
  {% endif %}

  <section>
  	<h2>Equipment</h2>
  	{% include "equipment/view/equipment_list.html" with equipment_list=subject.allEquipment show_managed_by=1 %}
  </section>
{% endblock %}

{% block right_sidebar %}
  <aside class="right-sidebar">

  {% with subject.v_adr as adr %}{% if adr %}
    <section>
      <h2>Address</h2>
      {% if subject.spatialrelations_within.label %}
        {{ subject.spatialrelations_within.label }}<br/>
      {% endif %}
      {% if adr|property:"v:street-address" %}
        {{ adr|property:"v:street-address" }}<br/>
      {% endif %}
      {% if adr|property:"v:extended-address" %}
        {{ adr|property:"v:extended-address" }}<br/>
      {% endif %}
      {% if adr|property:"v:locality" %}
        {{ adr|property:"v:locality" }}<br/>
      {% endif %}
      {% if adr|property:"v:postal-code" %}
        {{ adr|property:"v:postal-code" }}<br/>
      {% endif %}
    </section>
  {% endif %}{% endwith %}

  {% with subject.all.foaf_depiction as depictions %}{% if depictions %}
    <section>
      <h2>Images</h2>
      {% for depiction in depictions %}
        <img src="{% thumbnail depiction.uri width=220 %}" alt="Photograph of {{ subject.spatialrelations_within.label }}"/>
      {% endfor %}
    </section>
  {% endif %}{% endwith %}
  </aside>
{% endblock %}