{% extends "oauth2/base.html" %}

{% block content %}
<h1>Authorize external OAuth application?</h1>

<form method="post" action="{% url "oauth2:authorize" %}">{% csrf_token %}
  <p>The application <strong id="client-name">{{ client.name }}</strong>,
     provided by <strong id="client-owner">{% if client.user.first_name or client.user.last_name %}{{ client.user.first_name }}
     {{ client.user.last_name }}{% else %}{{ client.user.username }}{% endif %}</strong>,
     would like to access the Open Data Service using your credentials. Are you happy for this to happen?</p>
  {{ form }}
  <input type="submit" name="accept" value="Yes"/>
  <input type="submit" name="decline" value="No"/>
</form>
{% endblock %}