/*
styles and layout for larger (but not huge) 'average' size desktop screens
*/

#page {

  width: 1000px;
  
}


a#oxCrest {

left: 68px;
}

a#homeLink {
		background: transparent url('images/logo-large.png') no-repeat 0px 0px; 
		left: 220px;
		width: 750px;
		
}

body.equipment-browse ul.equipment-categories ul {
	-moz-column-count: 2;
	column-count: 2;
	
	}
	
	
body.equipment-browse ul.equipment-categories ul li a{	

}



.advanced-search-form,
.searchTips {
float: left; 
clear: none;
width: 300px;
}

.searchTips {

margin: 0px;
width: 400px;
}

