/*
styling for small screens, mobile devices etc.
 */

.main
{
background-color: #fff;
padding-top: 20px;
}

header.pageHeader
{
margin-bottom: 0px;

}





ul.mqtest li
{
color: #eee;
}
ul.mqtest li.marmoset
{
color: #333;
}

header.pageHeader
{
margin-top: 0px;
}


/* give some padding to content containers */
.main,
footer.site
{
padding: 3px;
}


footer.site
{
background-color: #eee;
}

header, header div.siteTitle  {
	margin-top: 0 !important;
}


a#oxCrest {
	background: url('images/ox_brand4_rev.gif') no-repeat 0px 0px; 
	height: 87px;
	width: 87px;
}

#login-prompt {
    font-size: 12px;
}

header.pageHeader div.siteTitle {

	font-size: 2em;
	margin-left: 107px;
	padding-top: 25px;
	text-align: center;
}


header.pageHeader {
	height: 107px;
}

h1, h2, .right-sidebar h3 {
	text-align: center;
}

.right-sidebar {
	margin: auto auto;
	width: 220px;
}

div.results ol {
	padding-left:5px;
}
