{% load humfrey_elasticsearch %}{% load dataox_vacancy %}
<div class="search-item-header">
  <h3><a href="{{ hit.url }}">{{ hit.source.label }}</a></h3>
  <span class="search-item-type">Vacancy</span>
  <div class="search-item-byline">{{ hit.source.organizationPart.0.label }}, {{ hit.source.salary.label }}, {% if hit.source.availability|vacancy_open %}open{% else %}closed{% endif %}</div>
</div>

<div class="search-item-description">{{ hit.source.description|search_html|truncatewords_html:"50" }}</div>
