body {
    background-color: #E8E8E8;
    font: 14px/1.5 "Liberation Sans", Arial, sans-serif;
    color:#444;
    margin: 0;
}

div.container {
    max-width: 960px;
    margin-left:auto;
    margin-right:auto;
}

/* Links */
/* line 10, ../sass/style.sass */
a,
a:link {
  text-decoration: none;
  color: #0066AA;
  word-wrap: break-word;
}

a:visited {
 color: #336699;
}

/* line 15, ../sass/style.sass */
a:hover, a:active {
}



header {
    margin: 20px 0;
    display: block;
}

header img {
   
    float:left;
    border: 0;
}

header p {
    padding:0;
    margin: 0 0 0 176px;
    line-height:1em;
}

header p.title {
    font-size:2em;
    margin-bottom: 0.25em;
}

nav ul, footer {
    display:block;
    background-color: #002147;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    line-height: 30px;
    padding: 0;
    margin-left: 0;
    list-style: none;
    font-size: 16px;
    background: #002e63; /* Old browsers */
    background: -moz-linear-gradient(top,  #002e63 0%, #002147 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002e63), color-stop(100%,#002147)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #002e63 0%,#002147 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #002e63 0%,#002147 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #002e63 0%,#002147 100%); /* IE10+ */
    background: linear-gradient(top,  #002e63 0%,#002147 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002e63', endColorstr='#002147',GradientType=0 ); /* IE6-9 */
}

footer {
    color: #fff;
    margin-top:1em;
    padding: 5px 1.5em;
    height: 30px;
    text-align:center;
}

footer a,
footer a:link {
    color: #fff !important;
    text-decoration: underline !important;
}

nav {
    position: relative;
}

nav li {
    display: inline;
}

nav li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
}
nav li a, nav li a:link, nav li a:visited {
    color: #fff;
}

nav li:first-child a {
  	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

nav li a:hover, nav li.selected a {
    background: #439bff; /* Old browsers */
    background: -moz-linear-gradient(top,  #439bff 0%, #3593ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#439bff), color-stop(100%,#3593ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #439bff 0%,#3593ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #439bff 0%,#3593ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #439bff 0%,#3593ff 100%); /* IE10+ */
    background: linear-gradient(top,  #439bff 0%,#3593ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#439bff', endColorstr='#3593ff',GradientType=0 ); /* IE6-9 */
}

/*h1, h2, p, dl {
    margin-top:0.7em;
    margin-bottom:0;
}*/

h1 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top:0;
    font-weight: 500;
}

h2 {
    color: #000000;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size:1.5em;
    font-weight: 400;
}

h3 {
    /*font-weight: normal;*/
    font-size:12pt;
}

section.page-metadata h2 + h3, section.widget h2 + h3, section.widget h2 + table.description{
	margin-top: 0;
}

img.logo {
    float:right;
    margin:2em 0 0.5em 0.5em;
    
}

div.container > article {
	position: relative;
    display: block;
    padding:20px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

table.description {
    /*border:1px solid #fff;
    border-collapse: collapse;*/
    margin-top: 10px;
}

tr.row-odd {
    background-color: #ddd;
}

tr.row-even {
    background-color: #eee;
}
td {
padding: 0.75em 1em;
}
/*
table.description td, table.sparql-results td {
    padding:2px;
}
*/
img.icon {
    border:0;
}

aside {
    display: block;
    width:200px;
    margin-top:10px;
}

aside.toolbox {
    float:left;
    margin-right:0px;
}

aside.sidebar, aside.toolbox {
    float:right;
    margin-left:10px;
}

aside img.depiction {
    max-width: 200px;
}

a img {
	border: 0;
}

div.olControlAttribution {
    font-size:10px;
    background-color: rgba(255, 255, 255, 0.6);
    position:absolute;
    bottom:0;
    right:0;
    padding:2px;
}

table.sparql-results, table.description {
    font-size:10pt;
    margin-bottom: 1em;
    border:1px solid #ccc;
}

form table {
    width: 100%;
}

form tr:first-child th, form tr:first-child td {
    border:0
}

form table th {
    width: 200px;
    text-align:left;
}

form table textarea {
    width: 100%;
}
aside.toolbox {
  background:#FAFAFA;
  padding:1em;
}
section.page-metadata h2, section.widget h2 {
    font-size:1.25em;
    color: #000;
    margin: 0.5em 0;
    font-weight: 600;
}

section.page-metadata h2:first-child, section.widget h2:first-child {
    margin:0;
}

section.page-metadata h3, section.widget h3 {
    font-size:1em;
    color: #333;
    margin:0.5em 0 0 0;
    font-weight: 500;
}

section.page-metadata p, section.widget p {
    color: #888;
    font-size:9pt;
    margin:0;
    text-align: justify;
}

section.page-metadata ul, section.widget ul {
    margin:0.5em 0 1em 0;
    list-style: none;
    padding-left: 0;
    font-size:10pt;
}

hr {
	height:1px;
	color:#888;
	background-color:#888;
	/*border:1px solid #888;*/
}

.badges {
	text-align: center;
	margin-top: 2em;
}

.badges img {
	margin:2px;
}

ul.used-query-list {
    list-style: none;
}

li.used-query code {
    white-space: pre;
}


div.pagination {
    text-align: center;
    font-size: 12pt;
    margin:1em;
}

a.sort-header, a.sort-header:visited {
    color: #00f;
}

a.current-sort {
    color: #f00 !important;
}

header {
  position:relative;
}

img#beta-badge {
    position:absolute;
    bottom:-45px;
    right:20px;
    z-index: 5;
}
div.search-form {
    position:absolute;
    top:5px;
    right: 120px;
}

div.search-form label {
    position:absolute;
    display: none;
    left: 30px;
    top: 6px;
    width: 150px;
    font-size:12px;
}

div.search-form input#search-query {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("search.png") no-repeat scroll white;
    border-color: #CDCDCD #DDDDDD #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #F1F1F1, 0 1px 1px #E0E0E0 inset;
    color: #999999;
    float: left;
    font-size: 12px;
    padding: 5px 5px 5px 30px;
    width: 150px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.subject-uri {
    text-align: right;
    color: #888;
    position: absolute;
    top: 0.7em;
    right: 1em;
}

div.warning {
	background-image: url('gnome-icons/32x32/dialog-warning.png');
	background-position: 5px 50%;
	background-repeat: no-repeat;
	margin: 1em;
	padding: 1em 1em 1em 50px;
	border: 2px solid #E39D59;
	font-weight: bold;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}


