{% extends "browse/list.html" %}{% load humfrey_desc %}

{% block browse_headers %}
  <th>Crest</th>
  <th>{% with field="sortLabel" name="Name" %}{% include "browse/sort_header.html" %}{% endwith %}</th>
  <th>{% with field="homepage" name="Homepage" %}{% include "browse/sort_header.html" %}{% endwith %}</th>
  <th>Image</th>
{% endblock %}

{% block browse_item %}
<td>
  {% if result.logo %}
    <img src="{% url "resized-image" %}?url={{ result.logo|urlencode }}&amp;height=80" alt="{{ result.label }} Crest"/>
  {% endif %}
</td>
<td><a href="{{ result.uri|doc_url }}">{{ result.label }}</a></td>
<td>
  {% if result.homepage %}
    <a href="{{ result.homepage }}">{{ result.homepage }}</a>
  {% endif %}
</td>
<td style="text-align:center">
  {% if result.depiction %}
    <a href="{{ result.depiction|doc_url }}">
      <img src="{% url "resized-image" %}?url={{ result.depiction|urlencode }}&amp;height=80" alt=""/>
    </a>
  {% endif %}
</td>
{% endblock %}