{% extends "browse/list.html" %}{% load humfrey_desc %}

{% block browse_headers %}
  <th>{% with field="label" name="seriesName" %}{% include "browse/sort_header.html" %}{% endwith %}</th>
  <th>Type</th>
  <th>Place name</th>
  <th>Longitude</th>
  <th>Latitude</th>
{% endblock %}

{% block browse_item %}
<td><a href="{{ result.uri|doc_url }}">{% if result.label == "None" %}{{ result.seriesName }}{% else %}{{ result.label|default:result.seriesName }}{% endif %}</a></td>
<td>{% if result.type|slice:"-17:" != "VirtualTimeSeries" %}normal{% else %}virtual{% endif %}</td>
{% if result.place %}{% with result.place.0 as place %}
  <td><a href="{{ place.uri|doc_url }}">{{ place.label }}</a></td>
  <td>{{ place.long }}</td>
  <td>{{ place.lat }}</td>
{% endwith %}{% else %}<td></td><td></td><td></td>{% endif %}
{% endblock %}
