{% extends "base.html" %}

{% block title %}Vacancy feeds{% endblock %}

{% block content %}
  <h1>Vacancy feeds</h1>
  
  <p>Find the unit you are interested in from the list below. If the unit has
     sub-units, you can choose whether to include vacancies from those units.</p>
     
  <p>Vacancies across the whole University are listed <a href="{% url feeds:all-vacancies "00000000" %}">here</a>.</p>

<table class="sparql-results">
  <thead>
    <tr>
      <th>Unit</th>
      <th colspan="2">Sub-units</th>
      <th>Current vacancies</th>
    </tr>
  </thead>
  <tbody>
{% for result in results %}
    <tr class="row-{% cycle "odd" "even" %}">
      <td>{{ result.unitLabel }}</td>
      {% if result.subUnit %}
      <td style="text-align:center"><a href="{% url feeds:vacancies result.unit|slice:"-8:" %}">exclude sub-units</a></td>
      <td style="text-align:center"><a href="{% url feeds:all-vacancies result.unit|slice:"-8:" %}">include sub-units</a></td>
      {% else %}
      <td colspan="2" style="text-align:center"><a href="{% url feeds:vacancies result.unit|slice:"-8:" %}">vacancies</a></td>
      {% endif %}
      <td style="text-align:center">{{ result.vacancies|default:"" }}</td>
      
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}