Source: oxford-dataox
Section: python
Priority: extra
Maintainer: Alexander Dutton <alexander.dutton@it.ox.ac.uk>
Build-Depends: debhelper (>= 7.0.50~),
               python-sphinx,
               python-all,
               python-support
#               python-django-humfrey
Standards-Version: 3.8.4
X-Python-Version: >= 2.6
Homepage: https://github.com/oucs/dataox
Vcs-Git: git://github.com/oucs/dataox.git

Package: oxford-dataox
Section: python
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-django-humfrey,
         python-django-webauth,
         python-feedparser,
         python-django-openorg-timeseries,
         python-django-pipeline,
         python-oauth2app,
         python-sharepoint,
         xcri-rdf,
         libclosure-compiler-java
Description: Additional code for Oxford's data.ox.ac.uk service.

