<!DOCTYPE html>
<html>
  <head>
    <title>Maps of the University of Oxford</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}maps/base.css"/>
    <script type="application/javascript" src="{{ STATIC_URL }}js/jquery-1.6.4.min.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}js/OpenLayers.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}maps/base.js"></script>
  </head>
  
  <body>
      <header>
        <h1>Maps of the University of Oxford</h1>
      </header>
    <div id="container">
      <nav>
      
      </nav>
      <div id="map"></div>
    </div>
  </body>
</html>