{% load hosts %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
  <head>
    <title>{% block title %}Open Data about the University of Oxford{% endblock %} | data.ox.ac.uk</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}main.css" type="text/css"/>
    <link rel="icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon"/>{% if no_index %}
    <meta name="robots" content="noindex"/>{% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div class="container">
    <header>
      <a href="http://www.ox.ac.uk/">
        <img src="{{ MEDIA_URL }}brandmark.gif" alt="University of Oxford"/>
      </a>
      {% block header_text %}
      <p class="title">Open Data about the University of Oxford</p>
      <p>data.ox.ac.uk</p>
      {% endblock %}
    </header>
    
    <nav>
      <ul>
{% block nav %}
        <li><a href="{% host_url index on data %}">home</a></li>
        <li><a href="{% host_url datasets on data  %}">datasets</a></li>
        <li><a href="{% host_url explore on data  %}">explore</a></li>
        <li><a href="{% host_url sparql on data  %}">sparql</a></li>
        <li><a href="{% host_url help on data  %}">help</a></li>
        <li><a href="{% host_url contact on data  %}">contact</a></li>
{% endblock %}
      </ul>
    </nav>

{% block body %}
    <article>
      <h1>Home</h1>
    </article>
{% endblock %}

      <footer>{% block footer %}
        Site © University of Oxford •
        <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/" title="Attribution-ShareAlike 2.0 UK: England & Wales">CC-BY-SA 2.0</a> •
        <a href="{% host_url legal on data %}">Legal and privacy</a> •
        <a href="https://github.com/oucs/dataox">Source</a>
      {% endblock %}</footer>
    </div>
  </body>
</html>
