{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

    <p id="deprecation-notice" style="font-size: large; color: #000c14; background-color: #ff6a6e; display: block; padding: 7px 10px; margin-bottom: 1em; border: 1px solid #8b3a3c;">Data.ox is deprecated. Advanced notice of its end of life date will be advised in due course via this site and the ITSS mail list.</p>
    <h1>Contact</h1>
    
    <p><strong>data.ox.ac.uk</strong> is run by <a href="http://www.it.ox.ac.uk/">IT Services</a> at the
       <a href="http://www.ox.ac.uk/">University of Oxford</a>. You can contact the team at
       <a href="mailto:applicationsupport@it.ox.ac.uk">applicationsupport@it.ox.ac.uk</a>.</p>
    
    <p>You may also wish to join the University's open data mailing list by sending a blank e-mail to
       <a href="mailto:opendata-subscribe@maillist.ox.ac.uk">opendata-subscribe@maillist.ox.ac.uk</a>.</p> 
{% endblock %}
