{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block body %}
  <article>
    <h1>Contact</h1>
    
    <p><strong>data.ox.ac.uk</strong> is run by <a href="http://www.oucs.ox.ac.uk/">Oxford University Computing
       Services</a>. You can contact the team at <a href="mailto:opendata@oucs.ox.ac.uk">opendata@oucs.ox.ac.uk</a>.</p>
    
    <p>You may also wish to join the University's open data mailing list by sending a blank e-mail to
       <a href="mailto:opendata-subscribe@maillist.ox.ac.uk">opendata-subscribe@maillist.ox.ac.uk</a>.</p> 
  </article>
{% endblock %}