{% extends "base.html" %}{% load humfrey_desc %}

{% block title %}Example resources{% endblock %}

{% block content %}
  <h1>Example resources</h1>
  
  <p>Some datasets list the following example resources as being particularly useful:</p>
  
  <table class="sparql-results">
    <thead>
      <tr>
        <th>Dataset</th>
        <th>Resources</th>
      </tr>
    </thead>
    <tbody>
{% for subject in subjects %}
      <tr class="row-{% cycle "odd" "even" %}">
        <td>{{ subject|node }}</td>
        <td>
          {% for resource in subject.all.void_exampleResource %}
            {{ resource|node }}
            {% if not forloop.last %}<br/>{% endif %}
          {% endfor %}
        </td>
      </tr>
{% endfor %}
    </tbody>
  </table>
{% endblock %}
