{% extends "base.html" %}{% load hosts %}

{% block title %}Explore{% endblock %}

{% block body %}
<article>
  <h1>Explore</h1>

  <section>
    <h2>Starting points</h2>
  
    <p>Use these as starting points to dive into the data.</p>

    <dl>
      <dt><a href="{% host_url explore-resource on data %}">Example resources</a></dt>
      <dt><a href="{% host_url explore-query on data %}">Example queries</a></dt>
    </dl>
  </section>
  
  <section id="examples">
    <h2>Examples</h2>

    <dl>
{% for example in examples %}
      <dt><a href="{% host_url example-detail example.slug on data %}">{{ example.name }}</a></dt>
      <dd>{{ example.description|safe }}</dd>
{% endfor %}
    </dl>
  </section>  


</article>
{% endblock %}
