{% extends "base.html" %}{% load humfrey_desc %}{% load hosts %}

{% block title %}Example resources{% endblock %}

{% block content %}
  <h1>Example queries</h1>
  
  <p>Some datasets suggest the following example queries as being particularly useful:</p>
  
  <table class="sparql-results">
    <thead>
      <tr>
        <th>Dataset</th>
        <th>Query</th>
      </tr>
    </thead>
    <tbody>
{% regroup results by dataset as results_by_dataset %}
{% for d in results_by_dataset %}
      <tr class="row-{% cycle "odd" "even" as order %}">
        <td rowspan="{{ d.list|length }}"><a href="{{ d.grouper.doc_url }}">{{ d.list.0.datasetLabel }}</a></td>
        {% for result in d.list %}
          {% if not forloop.first %}<tr class="row-{{ order }}">{% endif %}
          <td><a href="{% host_url sparql:endpoint on data %}?query={{ result.value|urlencode }}">{{ result.label }}</a></td>
          {% if not forloop.last %}</tr>{% endif %}
        {% endfor %}
      </tr>
{% endfor %}
    </tbody>
  </table>
{% endblock %}
