{% extends "base.html" %}{% load hosts %}

{% block content %}
<p id="deprecation-notice" style="font-size: large; color: #000c14; background-color: #ff6a6e; display: block; padding: 7px 10px; margin-bottom: 1em; border: 1px solid #8b3a3c;">Data.ox is deprecated. Advanced notice of its end of life date will be advised in due course via this site and the ITSS mail list. Please see our <a href="/replacement-advice">advice on how to replace it.</a></p>
    <h1>Welcome</h1>
      
    <p>Welcome to <strong>data.ox.ac.uk</strong>, the
       <a href="http://www.ox.ac.uk/">University of Oxford</a>'s institutional
       linked open data store.</p>

    <section>
      <h2>Aims</h2>

      <p>The site aims to collect data from around the University and make it
         available for reuse as
         <a href="http://en.wikipedia.org/wiki/Linked_Data">linked data</a>
         under open licences.</p>
    </section>

    <section>
      <h2>Exploring the data</h2>      
      
      <p>To get started, have a look at our
         <a href="{% host_url "datasets" host "data" %}">datasets</a> or use the
         <a href="{% url "explore" %}">explore page</a> to get a flavour of
         what's available.</p>

      <p>All data are also available through
         <a href="{% host_url "sparql:endpoint" host "data" %}">our SPARQL endpoint</a>. The
         site also supports
         <a href="http://en.wikipedia.org/wiki/Content_negotiation">content
         negotiation</a>, allowing you to request data in a variety of RDF
         serializations.</p>
    </section>
{% endblock %}
