{% extends "base.html" %}{% load desc %}

{% block title %}SPARQL{% endblock %}

{% block body %}
  <section>
    <h1>SPARQL</h1>
    
    {% if results.fields or result or subjects %}
      <h2>Results</h2>
    {% else %}
      <p>New to SPARQL? <a href="{% url help %}#sparql">Find out more…</a></p>
    {% endif %}
    
    {% if results.fields %}
      <table class="sparql-results">
        <thead>
          <tr>
{% for field in results.fields %}
            <th>{{ field }}</th>
{% endfor %}
          </tr>
        </thead>
        <tbody>
{% for result in results %}
          <tr class="row-{% cycle "odd" "even" %}">
{% for cell in result %}
            <td>{{ cell|node|default_if_none:"" }}</td>
{% endfor %}
          </tr>
{% empty %}
          <tr>
            <td colspan="{{ results.fields|length }}">No results found</td>
          </tr>
{% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if result %}
      {{ result|yesno:"True,False" }}
    {% endif %}
    
    {% if error %}
    <h2>Query error</h2>
    
    <pre>{{ error }}</pre>
    {% endif %}
    
    <h2>Query</h2>

    <form method="get" action="{% url sparql %}">
      <table>
        <tbody>
          {{ form }}
        </tbody>
        <tfoot>
          <tr><td colspan="2" style="text-align:center; padding:1em">
            <input type="submit" value="Query"/>
          </tr></td>
        </tfoot>
      </table>
    </form>
  
  </section>
{% endblock %}
