{% extends "base.html" %}

{% block title %}OpenMeters{% endblock %}

{% block extrahead %}
<script src="http://code.jquery.com/jquery-1.5.min.js"
	type="text/javascript"></script>
<script language="javascript" type="text/javascript"
	src="http://infodev.oucs.ox.ac.uk/openmeters/demo/jquery.flot.js"></script>

<!--[if IE]><script src="excanvas.js"></script><![endif]-->


<script type="text/javascript">
    var meterpoint_query  = "PREFIX meter: <http://purl.org/metering/>\n"
                          + "PREFIX timeseries: <http://purl.org/NET/time-series/>\n"
                          + "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n"
                          + "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>\n"
                          + "SELECT * WHERE {\n"
                          + "  ?meterPoint a meter:MeterPoint ;\n"
                          + "    timeseries:timeseries ?timeseries ;\n"
                          + "    rdfs:label ?label ;\n"
                          + "    meter:pertainsTo ?place .\n"
                          + "  ?timeseries a timeseries:TimeSeries ;\n"
                          + "    timeseries:seriesName ?seriesName ;\n"
                          + "    timeseries:endpoint ?endpoint .\n"
                          + "  ?place skos:prefLabel ?placeName .\n"
                          + "} ORDER BY ?label\n";
    
    var samples_query = "PREFIX meter: <http://purl.org/metering/>\n"
                      + "PREFIX timeseries: <http://purl.org/NET/time-series/>\n"
                      + "SELECT * WHERE {\n"
                      + "  <TIMESERIES>\n"
                      + "    timeseries:resolution ?resolution ;\n"
                      + "    timeseries:sampling ?sampling .\n"
                      + "  ?sampling a timeseries:Sampling ;\n"
                      + "    timeseries:resolution ?sampleResolution .\n"
                      + "}\n";
    
    var meterpoints = {};

    $(function() {
      $.get('/sparql/', {
        format: 'srj',
        query: meterpoint_query,
        dataType: 'json',
      }, function (data) {
        // For some reason jQuery doesn't parse the return value as JSON, so
        // we'll get it parsed if it hasn't been already.
        if (data.head == undefined) data = $.parseJSON(data);
        
        var select = $('#meterpoint_id');
        for (var i in data.results.bindings) {
          var binding = data.results.bindings[i];
          meterpoints[binding.meterPoint.value] = binding;
          select.append($('<option/>').val(binding.meterPoint.value).text(binding.label.value));
        }
        
        select.change(update);
        $('#sample_id').change(update);
      });
    });

    function update(e) {
      var meterpoint = $('#meterpoint_id').val();
      var sample = $('#sample_id').val();
      
      if (meterpoint && meterpoints[meterpoint].samples == undefined) {
    	$.get('/sparql/', {
    	      format: 'srj',
    	      query: samples_query.replace('TIMESERIES', meterpoints[meterpoint].timeseries.value),
    	      dataType: 'json',
    	      }, function (data) {
                if (data.head == undefined) data = $.parseJSON(data);
                meterpoints[meterpoint].samples = {};
                for (var i in data.results.bindings) {
                	var sample = data.results.bindings[i];
                	meterpoints[meterpoint].samples[sample.sampling.value] = sample;
                }
                updateSamples();
                loadData();
    	      });
    	return;
      }

      if (meterpoint && sample)
        loadData();
    }
    
    function updateSamples() {
      var meterpoint = $('#meterpoint_id').val();
      var samples = $('#sample_id').empty();
      for (var i in meterpoints[meterpoint].samples) {
    	  var sample = meterpoints[meterpoint].samples[i];
    	  samples.append($('<option/>').val(sample.sampling.value).text(sample.sampleResolution.value));
      }
    }


    function loadData() {
      var meterpoint = $('#meterpoint_id').val();
      var sample = $('#sample_id').val();
      
      meterpoint = meterpoints[meterpoint];
      sample = meterpoint.samples[sample];
      
      $('#plot').html('<span id="loading">Loading&hellip;</span>')
      $.get(meterpoint.endpoint.value, {
        format: 'json',
        action: 'fetch',
        series: meterpoint.seriesName.value,
        resolution: sample.sampleResolution.value,
        type: 'average',
        startTime: '2011-07-01 00:00:00',
        //endTime: '2008-03-30 06:00:00',
      }, function(data) {
        // For some reason jQuery doesn't parse the return value as JSON, so
        // we'll get it parsed if it hasn't been already.
        if (data.series == undefined) data = $.parseJSON(data);

        var options = {
          lines: { show: true, lineWidth: 1, fill: true, fillColor: '#B8CCD7' },
          points: { show: true, radius: 1 },
          xaxis: { 
            mode: "time", // first coord has to be a _javascript timestamp_ ie epoch in milliseconds
/*          min: (new Date(yesterday)).getTime(),
            max: (new Date(today)).getTime() */
          },
          yaxis: {
            min: 0,
          },
          grid: { 
            show: true,
            clickable: true,
            hoverable: true 
          },
          colors: ["#006699", "#d18b2c", "#dba255"],
        };
        
        var series = [];
        var lastDatum = null;

        // Values returned from data.ox are cumulative, so we take the differences
        for (var i in data.series[meterpoint.seriesName.value].data) {
          var datum = data.series[meterpoint.seriesName.value].data[i];
          if (lastDatum != null && datum.val != null) {
              var center = (datum.ts + lastDatum.ts) / 2;
              series.push([center, datum.val]);
          }
          lastDatum = datum;
        }
        
        $('#plot').html('')
        $.plot($('#plot'), [series], options);

      });
    }
  </script>
<style type="text/css">
ul#units,div#map,section#details {
	display: block;
	border: 1px solid #aaa;
	margin-top: 0;
}

ul#units {
	margin-left: 1em;
}

ul#units li ul {
	padding-left: 2em;
	list-style: none;
}

ul#units li {
	padding: 0 2px;
}

ul#units li.highlight {
	color: #fff;
	background-color: #00f;
}

p#description {
	margin-top: 0;
	font-size: 10pt;
}

h1 {
	margin-bottom: 0;
}

#loading {
	padding: 4em;
	margin: 4em;
	text-align: center;
	font-size: 30px;
}
</style>
{% endblock %}

{% block body %}

<article>
	<h1>OpenMeters</h1>

	<div id="measures">
		<select id="meterpoint_id">
			<option value=""></option>
		</select> <select id="sample_id">
			<option value=""></option>
		</select>
	</div>

	<div id="plot" style="width: 100%; height: 400px"></div>

	<section id="details"
		style="clear: both; padding: 1em; margin-top: 1em">
		<h2>How it works</h2>

		<p>This graph shows average power demand for the selected meter in
			kW.</p>

		<p>Please note that we do not have data for some meters listed. If
			you don't get anything on your graph, try again with another.</p>
	</section>

</article>
{% endblock %}
