{% extends "base.html" %}

{% block title %}OpenMeters{% endblock %}

{% block extrahead %}
  <script src="http://code.jquery.com/jquery-1.5.min.js" type="text/javascript"></script>
  <script language="javascript" type="text/javascript" src="http://infodev.oucs.ox.ac.uk/openmeters/demo/jquery.flot.js"></script>

   <!--[if IE]><script src="excanvas.js"></script><![endif]-->


  <script type="text/javascript">
    var measure_query  = "PREFIX meter: <http://purl.org/meter/>"
                       + "PREFIX oxp: <http://ns.ox.ac.uk/namespace/oxpoints/2009/02/owl#>"
                       + "PREFIX dc: <http://purl.org/dc/elements/1.1/>"
                       + "SELECT ?measure ?identifier ?title WHERE {"
                       + "  ?measure a meter:Measure ;"
                       + "    oxp:measureIdentifier ?identifier ;"
//                       + "    meter:supplies [ dc:title ?title ] ."
                       + "} ORDER BY ?identifier";
    
    var reading_query = "PREFIX meter: <http://purl.org/meter/>"
                      + "PREFIX qb: <http://purl.org/linked-data/cube#>"
                      + "PREFIX sdmx-dimension: <http://purl.org/linked-data/sdmx/2009/dimension#>"
                      + "SELECT ?ts ?val WHERE {"
                      + "  ?obs"
                      + "    meter:atInterval <http://dbpedia.org/resource/INTERVAL> ;"
                      + "    meter:measure <MEASURE> ;"
                      + "    qb:dataset <http://data.ox.ac.uk/id/dataset/openmeters> ;"
                      + "    a qb:Observation ;"
                      + "    sdmx-dimension:timePeriod ?ts ;"
                      + "    meter:energyNet ?val"
                      + "} ORDER BY ?ts";

    $(function() {
      $.get('/sparql/', {
        format: 'srj',
        query: measure_query,
        dataType: 'json',
      }, function (data) {
        // For some reason jQuery doesn't parse the return value as JSON, so
        // we'll get it parsed if it hasn't been already.
        if (data.head == undefined) data = $.parseJSON(data);
        
        var select = $('#measure_id');
        for (i in data.results.bindings) {
          var binding = data.results.bindings[i];
          select.append($('<option/>').val(binding.measure.value).text(binding.identifier.value));
        }
        
        select.change(update);
        $('#interval_id').change(update);
      });
    });

    function update(e) {
      measure = $('#measure_id').val();
      interval = $('#interval_id').val();

      if (measure)
        loadData(measure, interval);
    }


    function loadData(measure, interval) {
      $('#plot').html('<span id="loading">Loading&hellip;</span>')
      $.get('/sparql/', {
        format: 'srj',
        query: reading_query.replace('INTERVAL', interval).replace('MEASURE', measure),
        dataType: 'json',
      }, function(data) {
        // For some reason jQuery doesn't parse the return value as JSON, so
        // we'll get it parsed if it hasn't been already.
        if (data.results == undefined) data = $.parseJSON(data);

        var options = {
          lines: { show: true },
          points: { show: true },
          xaxis: { 
            mode: "time", // first coord has to be a _javascript timestamp_ ie epoch in milliseconds
/*          min: (new Date(yesterday)).getTime(),
            max: (new Date(today)).getTime() */
          },
          yaxis: {
            min: 0,
          },
          grid: { 
            show: true,
            clickable: true,
            hoverable: true 
          },
          colors: ["#919733", "#d18b2c", "#dba255"],
        };
        
        var series = [];
        var lastBinding = null;

        // Values returned from data.ox are cumulative, so we take the differences
        for (i in data.results.bindings) {
          var binding = data.results.bindings[i];
          if (lastBinding != null) {
              var period = (Date.parse(binding.ts.value) - Date.parse(lastBinding.ts.value));
              var center = (Date.parse(binding.ts.value) + Date.parse(lastBinding.ts.value)) / 2;
              var consumption = parseInt(binding.val.value) - parseInt(lastBinding.val.value);
              series.push([center, consumption * (3600*1000) / period]);
          }
          lastBinding = binding
        }
        
        $('#plot').html('')
        $.plot($('#plot'), [series], options);

      });
    }
  </script>
  <style type="text/css">
    ul#units, div#map, section#details {
      display: block;
      border:1px solid #aaa;
      margin-top:0;
    }
    ul#units {
      margin-left:1em;
    }
    ul#units li ul {
      padding-left:2em;
      list-style:none;
    }
    ul#units li {
      padding:0 2px;
    }
    ul#units li.highlight {
      color:#fff;
      background-color:#00f;
    }
    p#description {
      margin-top:0;
      font-size: 10pt;
    }
    h1 {
      margin-bottom: 0;
    }
    
    #loading {
      padding:4em;
      margin:4em;
      text-align:center;
      font-size:30px;
      
    }
  </style>
{% endblock %}

{% block body %}
  
  <article>
    <h1>OpenMeters</h1>
    
    <div id="measures">
      <select id="measure_id">
        <option value=""></option>
      </select>
      <select id="interval_id">
        <option value="Month">by month</option>
        <option value="Week">by week</option>
        <option value="Day">by day</option>
      </select>
    </div>
    
    <div id="plot" style="width:100%; height:400px"></div>

    <section id="details" style="clear:both; padding:1em; margin-top:1em">
      <h2>How it works</h2>

      <p>This graph shows average power demand for the selected meter in kW.</p>
      
      <p>Please note that we do not have data for some meters listed. If you don't get anything on your graph, try again with another.</p>
    </section>
    
  </article>
{% endblock %}
