{% extends "base.html" %}

{% block title %}OpenMeters{% endblock %}

{% block extrahead %}

<script type="text/javascript">
    var meterpoint_query  = "PREFIX meter: <http://purl.org/meter/>\n"
                          + "PREFIX timeseries: <http://purl.org/NET/time-series/>\n"
                          + "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n"
                          + "PREFIX skos: <http://www.w3.org/2004/02/skos/core#>\n"
                          + "SELECT * WHERE {\n"
                          + "  ?meterPoint a meter:MeterPoint ;\n"
                          + "    timeseries:timeSeries ?timeSeries ;\n"
                          + "    meter:pertainsTo ?place .\n"
                          + "  ?place skos:prefLabel ?placeLabel .\n"
                          + "} ORDER BY ?label\n";
    
    var allTimeSeries = {};
    
    var currentTimeSeries = null;
    var currentData = {};
    var currentMetadata = {};
    
    var requiredResolutions = {'day': 86400, 'yoy': 604800, 'weekly-profile': 1800};

    $(function() {
      $.get('/sparql/', {
        format: 'srj',
        query: meterpoint_query,
        dataType: 'json',
      }, function (data) {
        if (data.head == undefined) data = $.parseJSON(data);
        
        var select = $('#timeSeries');
        for (var i in data.results.bindings) {
          var binding = data.results.bindings[i];
          allTimeSeries[binding.timeSeries.value] = binding;
          select.append($('<option/>').val(binding.timeSeries.value).text(binding.placeLabel.value));
        }
        
        select.change(update);
        $('#settings input[name=graphType]').change(update);
      }, 'json');
    });

    function update(e) {
      var timeSeries = allTimeSeries[$('#timeSeries').val()].timeSeries.value;
      var graphType = $('#settings input[name=graphType]:checked').val();
      
      $('#settings *').attr('disabled', 'disabled');
      
      if (currentTimeSeries != timeSeries) {
        $('#status').text('Fetching metadata…');
        getTimeSeriesMetaData(timeSeries, function(metadata) {
          currentMetadata = metadata;
          currentData = {};
          currentTimeSeries = timeSeries;
          updateData(timeSeries, graphType);
        });
      } else {
        updateData(timeSeries, graphType);
      }
    }
    
    function updateData(timeSeries, graphType) {
      if (!(requiredResolutions[graphType] in currentData)) {
        $('#status').text('Fetching reading data…');
        getTimeSeriesData(currentMetadata, "average", requiredResolutions[graphType], "2000", null, function(data) {
          currentData[requiredResolutions[graphType]] = data;
          updateGraph(timeSeries, graphType, data);
        });
      } else {
        updateGraph(timeSeries, graphType, currentData[requiredResolutions[graphType]]);
      }
    }
    
    function updateGraph(timeSeries, graphType, data) {
      $('#status').text('Plotting graph…');
      window.setTimeout(function() {

        // Data are for previous period, so centre them.
        var newData = [];
        var lastDatum = null;
        for (var i in data) {
          var datum = data[i];
          if (lastDatum != null && datum[1] != null) {
            var center = (datum[0] + lastDatum[0]) / 2;
            newData.push([center, datum[1]]);
          }
          lastDatum = datum;
        }
        data = newData;

        var series = null;
        var xMin = undefined; var xMax = undefined;

        // Bounds for this year and the previous year.
        var c = new Date();                                     c = c.getTime();
        var b = new Date(); b.setFullYear(b.getFullYear() - 1); b = b.getTime();
        var a = new Date(); a.setFullYear(a.getFullYear() - 2); a = a.getTime();
        
        if (graphType == 'day') {
          series = [data];
        } else if (graphType == 'yoy') {
          
          var lastYear = [];
          var thisYear = [];
          
          for (i in data) {
            var datum = data[i];
            if (datum[0] >= b) thisYear.push(datum); 
            if (datum[0] >= a) {
              var ts = new Date(datum[0]); ts.setFullYear(ts.getFullYear() + 1);
              lastYear.push([ts.getTime(), datum[1]]);
            }
          }
          
          xMin = b; xMax = c;
          
          series = [{label: "This year",
                     data: thisYear},
                    {label: "Last year",
                     data: lastYear}]; 
        } else if (graphType == 'weekly-profile') {
          var thisYear = []; var lastYear = [];
          for (var i = 0; i < 336; i++) {
            thisYear.push([i, 0, 0]);
            lastYear.push([i, 0, 0]);
          }
          
          for (var i in data) {
            var datum = data[i];
            if (datum[0] < a) continue;
            var year = (datum[0] > b) ? thisYear : lastYear;
            var ts = new Date(datum[0]);
            var pos = Math.floor(ts.getDay() * 48 + ts.getHours() * 2 + ts.getMinutes()/30);
            year[pos][1] += datum[1];
            year[pos][2] += 1;
          }
          
          for (var i = 0; i < 336; i++) {
            thisYear[i] = [thisYear[i][0], thisYear[i][1] / thisYear[i][2]];
            lastYear[i] = [lastYear[i][0], lastYear[i][1] / lastYear[i][2]];
          }
          
          series = [{label: "This year",
                     data: thisYear},
                    {label: "Last year",
                     data: lastYear}]; 
        }
        
        
        
        var options = {
          lines: { show: true, lineWidth: 1, fill: false, fillColor: '#B8CCD7' },
          points: { show: true, radius: 2 },
          xaxis: { 
            mode: "time", // first coord has to be a _javascript timestamp_ ie epoch in milliseconds
            min: xMin,
            max: xMax,
          },
          yaxis: {
            min: 0,
          },
          grid: { 
            show: true,
            clickable: true,
            hoverable: true 
          },
          colors: ["#006699", "#d18b2c", "#dba255"],
        };


        $.plot($('#plot').html(''), series, options);
        $('#status').text('');
        $('#settings *').removeAttr('disabled');
      }, 10);
    }
  </script>
<style type="text/css">
ul#units,div#map,section#details {
	display: block;
	border: 1px solid #aaa;
	margin-top: 0;
}

ul#units {
	margin-left: 1em;
}

ul#units li ul {
	padding-left: 2em;
	list-style: none;
}

ul#units li {
	padding: 0 2px;
}

ul#units li.highlight {
	color: #fff;
	background-color: #00f;
}

p#description {
	margin-top: 0;
	font-size: 10pt;
}

h1 {
	margin-bottom: 0;
}

#loading {
	padding: 4em;
	margin: 4em;
	text-align: center;
	font-size: 30px;
}
</style>
{% endblock %}

{% block body %}

<article>
	<h1>OpenMeters</h1>

	<div id="measures">
      <span style="float:right;" id="status"></span>
	  <form id="settings">
		<select id="timeSeries">
			<option value=""></option>
		</select>
		
		<div id="graphType">
		  <input type="radio" name="graphType" value="day" id="graphTypeDay" checked="checked"/>
		  <label for="graphTypeDay">Daily average</label>
		  
		  <input type="radio" name="graphType" value="yoy" id="graphTypeYoY"/>
		  <label for="graphTypeYoY">Year-on-year</label>
		  
		  <input type="radio" name="graphType" value="weekly-profile" id="graphTypeWeeklyProfile"/>
		  <label for="graphTypeWeeklyProfile">Weekly profile</label>
		</div>
      </form>
	</div>

	<div id="plot" style="width: 100%; height: 400px"></div>

	<section id="details"
		style="clear: both; padding: 1em; margin-top: 1em">
		<h2>How it works</h2>

		<p>This graph shows average power demand for the selected meter in
			kW.</p>

		<p>Please note that we do not have data for some meters listed. If
			you don't get anything on your graph, try again with another.</p>
	</section>

</article>
{% endblock %}
