{% extends "base.html" %}

{% block title %}Science Area Map{% endblock %}

{% block extra_head %}
  <style type="text/css">
  li { cursor:pointer}
  </style>
  <script type="text/javascript">
    var query = ["PREFIX geom: <http://data.ordnancesurvey.co.uk/ontology/geometry/>",
                 "SELECT DISTINCT ?building ?building_name ?spatial ?unit ?unit_name WHERE {",
                 "  ?building ",
                 "    spatialrelations:within+ <http://oxpoints.oucs.ox.ac.uk/id/59030245> ;",
                 "    a oxp:Building ;",
                 "    dc:title ?building_name ;",
                 "    geom:extent/geom:asWKT ?spatial .",
                 "  ?unit oxp:occupies/spatialrelations:within* ?building ;",
                 "        dc:title ?unit_name .",
                 "} ORDER BY ?occupant_name"].join("\n");
	
	function highlightBuilding(e, lielement)
		{
			lielement.className = 'highlight';	
			for (b in lielement.buildings)
			{
				lielement.buildings[b].feature.renderIntent = "select";
				lielement.buildings[b].feature.layer.redraw();
			}
			if (window.event) 
			{
				window.event.cancelBubble = true;
			}
			else 
			{
				e.stopPropagation();
			}
			return false;
		}		
		
	function unHighlightBuilding(e, lielement)
		{
			lielement.className = '';
			for (b in lielement.buildings)
			{
				lielement.buildings[b].feature.renderIntent = "";
				lielement.buildings[b].feature.layer.redraw();
			}
			if (window.event) 
			{
				window.event.cancelBubble = true;
			}
			else 
			{
				e.stopPropagation();
			}
			return false;		
		}		
			  
    $(function() {
      dataox.sparql(query, function(data) {
        var map = new OpenLayers.Map("map", {
				  controls: [],
				  projection: new OpenLayers.Projection("EPSG:900913")
				});
        
        map.addControl(new OpenLayers.Control.Navigation());
        map.addControl(new OpenLayers.Control.KeyboardDefaults());
        map.addControl(new OpenLayers.Control.Attribution());
        var highlight_style = { fillColor:'#99CCFF', strokeColor:'#3399FF', fillOpacity:0.7 };
        window.vectors = new OpenLayers.Layer.Vector("Buildings");
		map.addLayer(new OpenLayers.Layer.OSM("OpenStreetMap", 'https://static.data.ox.ac.uk/osm-tiles/${z}/${x}/${y}.png', {attribution: "&copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors"}));
		myBaseLayer = new OpenLayers.Layer.Google("Google",
				  {'sphericalMercator': true,
				   'maxExtent': new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34)
				  });
		//map.addLayer(myBaseLayer);
		map.addLayer(window.vectors);
        
        var proj_from = new OpenLayers.Projection("EPSG:4326");
        var proj_to = map.getProjectionObject();
        var wkt = new OpenLayers.Format.WKT({'internalProjection': proj_to, 'externalProjection': proj_from});

        window.buildings = {};
		var units = {};
        for (i in data.results.bindings) {
          var binding = data.results.bindings[i];
          if (window.buildings[binding.building.value] == undefined) {
            var geometry = wkt.read(binding.spatial.value);
            var feature = new OpenLayers.Feature.Vector(geometry);
            window.buildings[binding.building.value] = {
              name: binding.building_name.value,
              feature: geometry,
              elements: [],
              units: []};
          }
          if (units[binding.unit.value] == undefined)
            units[binding.unit.value] = {name: binding.unit_name.value, buildings: []};

          window.buildings[binding.building.value].units.push(units[binding.unit.value]);
          units[binding.unit.value].buildings.push(window.buildings[binding.building.value]);  
        }

        for (uri in window.buildings) {
          building = window.buildings[uri];            
          //alert(typeof(building.feature));
          window.vectors.addFeatures(building.feature);
        }
        
        for (uri in units) {
          unit = units[uri];

          if (unit.buildings.length > 1) {
			li = $('<li onmouseover="highlightBuilding(event, this)" onMouseOut="unHighlightBuilding(event, this);"></li>').text(unit.name);
            ul = $('<ul/>')
            li.append(ul);
			li[0].buildings = unit.buildings;
            for (i in unit.buildings) {
              li2 = $('<li onmouseover="highlightBuilding(event, this)" onMouseOut="unHighlightBuilding(event, this);"></li>').text(unit.buildings[i].name);
              ul.append(li2);
			  li2[0].buildings = [];
              unit.buildings[i].elements.push(li2);
			  li2[0].buildings.push(unit.buildings[i]);
            }
          } else
			li = $('<li onmouseover="highlightBuilding(event, this)" onMouseOut="unHighlightBuilding(event, this);" </li>').text(unit.name);
			li[0].buildings = unit.buildings;
            unit.buildings[0].elements.push(li);
			$('#units').append(li);
        }
        var sf = new OpenLayers.Control.SelectFeature(window.vectors, {
          hover:true,
          onSelect: function(e) {
            for (uri in window.buildings) {
              building = window.buildings[uri];
              if (building.feature == e) {
                for (i in building.elements) {
                  element = building.elements[i];
                  element.addClass('highlight');
                }
              }
            }
          },
          onUnselect: function(e) {
            for (uri in window.buildings) {
              building = window.buildings[uri];
              if (building.feature == e) {
                for (i in building.elements) {
                  element = building.elements[i];
                  element.removeClass('highlight');
                }
              }
            }
          },
        });
        map.addControl(sf);
        sf.activate();

        lonLat = (new OpenLayers.LonLat(-1.254918 , 51.759575 )).transform(proj_from, proj_to);
        map.setCenter(lonLat, 16);
      });
    });
  </script>
  <style type="text/css">
    ul#units, div#map, section#details {
      display: block;
      border:1px solid #aaa;
      margin-top:0;
    }
    ul#units {
      margin-left:1em;
    }
    ul#units li ul {
      padding-left:2em;
      list-style:none;
    }
    ul#units li {
      padding:0 2px;
    }
    ul#units li.highlight {
      color:#fff;
      background-color:#00f;
    }
    p#description {
      margin-top:0;
      font-size: 10pt;
    }
    h1 {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block content %}
    <h1>University Science Area Map</h1>
    
    <p id="description">A re-imagining of <a href="http://www.ox.ac.uk/visitors_friends/maps_and_directions/science_area.html">the
       official science area map</a> using OpenStreetMap and OxPoints data.</p>
    
    <ul id="units" style="font-size:8pt; width:310px; float:right; list-style:none; padding-left:0; padding:5px;"></ul>
    <div id="map" style="height:400px; width:580px"></div>
    
    <section id="details" style="clear:both; padding:1em;">
      <h2>Details</h2>
    <p>This page uses data from two datasets, <a href="http://data.ox.ac.uk/id/dataset/oxpoints">OxPoints</a>
       and <a href="http://data.ox.ac.uk/id/dataset/oxpoints-osm">a set of geometries drawn from OpenStreetMap</a>.</p>
       
    <p>It queries the <strong>data.ox.ac.uk</strong> SPARQL endpoint using AJAX for buildings and their occupants,
       requesting results in <a href="http://www.w3.org/TR/rdf-sparql-json-res/">a dialect of JSON</a>.</p>
       
    <p>Geometries are returned as <a href="http://en.wikipedia.org/wiki/Well-known_text" title="Well-known text">WKT</a>
       and are displayed on an <a href="http://www.openstreetmap.org/">OpenStreetMap</a> base map using
       <a href="http://openlayers.org/">OpenLayers</a>.</p>
    </section>
{% endblock %}
