{% extends "base.html" %}

{% block title %}Vacancy Treemap{% endblock %}

{% block extra_head %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
(function() {
	google.load("visualization", "1", {packages:["treemap"]});

	window.vacancyTreeMap = {
		vacancyQuery: ["SELECT * WHERE {",
		               "  ?vacancy a vacancy:Vacancy ;",
		               "    rdfs:label ?label ;",
		               "    oo:organizationPart ?unit ;",
		               "    vacancy:applicationOpeningDate ?opening ;",
		               "    vacancy:applicationClosingDate ?closing .",
		               "    OPTIONAL { ?vacancy rdfs:comment ?description . FILTER (datatype(?description) != xtypes:Fragment-XHTML) }",
		               "    OPTIONAL { ?vacancy vacancy:salary/rdfs:label ?salary }",
		               "  BIND (?opening < now() && now() < ?closing AS ?open)",
		               "}"].join("\n"),

		organizationQuery: ["SELECT * WHERE {",
		                    "  {",
		                    "    SELECT DISTINCT ?unit WHERE {",
		                    "      ?vacancy a vacancy:Vacancy ;",
		                    "        oo:organizationPart ?organizationPart .",
		                    "      ?organizationPart org:subOrganizationOf* ?unit",
		                    "    }",
		                    "  }",
		                    "  ?unit dc:title ?label .",
		                    "  OPTIONAL { ?unit org:subOrganizationOf ?parent . ?parent dc:title ?parentLabel }",
		                    "}"].join("\n"),
		vacancyResults: null,
		organizationResults: null,
		dataTable: null,
		units: null,
		unitsByRow: null,
		init: function() {
		    vacancyTreeMap.dataTable = new google.visualization.DataTable();
			var dataTable = vacancyTreeMap.dataTable;
			dataTable.addColumn('string', 'Unit');
			dataTable.addColumn('string', 'Parent');
			dataTable.addColumn('number', 'Number of Vacancies');
			dataTable.addColumn('number', 'Colour');
			
			vacancyTreeMap.units = {};

			if (vacancyTreeMap.organizationResults)
	    		vacancyTreeMap.processOrganizations();
	    	else
	    		dataox.sparql(vacancyTreeMap.organizationQuery, vacancyTreeMap.processOrganizations);
		},
	    processOrganizations: function(data) {
	    	if (data)
	    		vacancyTreeMap.organizationResults = data;
	    	else
	    		data = vacancyTreeMap.organizationResults;

	    	vacancyTreeMap.treeMap = new google.visualization.TreeMap(document.getElementById('visualization'));
	    	var dataTable = vacancyTreeMap.dataTable;

			var missingParents = [];
			for (var i=0; i<data.results.bindings.length; i++) {
				var binding = data.results.bindings[i];
	    		if (!(binding.unit.value in vacancyTreeMap.units))
	    			vacancyTreeMap.units[binding.unit.value] = {
	    				label: null,
	    				parent: null,
	    				vacancies: [],
	    				children: []
	    			};
	    		vacancyTreeMap.units[binding.unit.value].label = binding.label.value;
				if (binding.parent) {
					vacancyTreeMap.units[binding.unit.value].parent = binding.parent.value;
				} else
					missingParents.push(binding.unit.value);
			}
			for (var i in vacancyTreeMap.units) {
				var unit = vacancyTreeMap.units[i];
				if (unit.parent)
					vacancyTreeMap.units[unit.parent].children.push(i);
			}
			if (missingParents.length > 1) {
				vacancyTreeMap.units["root"] = {
					label: "Oxford",
					parent: null,
					vacancies: [],
					children: missingParents
				};
				for (var i=0; i<missingParents.length; i++) {
					vacancyTreeMap.units[missingParents[i]].parent = "root";
				}
			}
			
			if (vacancyTreeMap.vacancyResults)
	    		vacancyTreeMap.processVacancies();
	    	else
	    		dataox.sparql(vacancyTreeMap.vacancyQuery, vacancyTreeMap.processVacancies);
		},
		processVacancies: function(data) {
	    	if (data)
	    		vacancyTreeMap.vacancyResults = data;
	    	else
	    		data = vacancyTreeMap.vacancyResults;

	    	for (var i=0; i<data.results.bindings.length; i++) {
	    		var binding = data.results.bindings[i];
	    		if (binding.unit.value in vacancyTreeMap.units)
	    			vacancyTreeMap.units[binding.unit.value].vacancies.push(binding);
	    	}
			vacancyTreeMap.drawTreeMap();
	    },
		drawTreeMap: function() {
			vacancyTreeMap.unitsByRow = [];
			
			for (var i in vacancyTreeMap.units) {
				var unit = vacancyTreeMap.units[i];
				vacancyTreeMap.dataTable.addRow([unit.label,
				                                 unit.parent ? vacancyTreeMap.units[unit.parent].label : null,
				                                 unit.children.length ? 0 : unit.vacancies.length,
				                                 0]);
				vacancyTreeMap.unitsByRow.push(i);
				if (unit.children.length && unit.vacancies.length) {
					vacancyTreeMap.dataTable.addRow([unit.label + " (itself)",
					                                 unit.label,
					                                 unit.vacancies.length,
					                                 0]);
					vacancyTreeMap.unitsByRow.push(i);
				}
			}
		    
			vacancyTreeMap.treeMap.draw(vacancyTreeMap.dataTable, {
				minColor: 'd4c665',
				midColor: 'eeeeee',
				maxColor: '6d6fc3',
				maxDepth: 5,
				headerHeight: 25,
				fontColor: 'black',
				showScale: false});
			google.visualization.events.addListener(vacancyTreeMap.treeMap, 'select', vacancyTreeMap.showVacancyList);
		},
		showVacancyList: function(e) {
			var unit = vacancyTreeMap.units[vacancyTreeMap.unitsByRow[vacancyTreeMap.treeMap.getSelection()[0].row]];

			var vacancyTable = $('#vacancyTable');
			var body = vacancyTable.find("tbody").empty();
			vacancyTable.find("thead tr").html("<th>Title</th><th>Description</th><th>Salary</th><th>Closes</th>");
			vacancyTable.children("caption").remove();
			vacancyTable.prepend($('<caption/>').text("All vacancies within " + unit.label));

			for (var i=0; i<unit.vacancies.length; i++) {
                var vacancy = unit.vacancies[i];
                var description = vacancy.description ? vacancy.description.value : "";
                if (description.length > 200) description = description.substr(0, 200) + "…";
                var row = $("<tr/>").append($("<td/>").append($("<a/>").attr("href", vacancy.vacancy.value).text(vacancy.label.value)))
                                    .append($("<td/>").html(description.replace("\n", "<br/>")))
                                    .append($("<td/>").text(vacancy.salary ? vacancy.salary.value : ""))
                                    .append($("<td/>").text(vacancy.closing.value))
                                    .attr("class", i % 2 ? "row-even" : "row-odd");
                body.append(row);
            }
		}
	}
	$(vacancyTreeMap.init)
})();
  </script>
  <style type="text/css">
   p#description {
      margin-top:0;
      font-size: 10pt;
    }
    h1 {
      margin-bottom: 0;
    }
    
    #loading {
      padding:4em;
      margin:4em;
      text-align:center;
      font-size:30px;
	}
    
  </style>
{% endblock %}

{% block content %}
    <h1>Vacancy Treemap</h1>
       
    <div id="visualization" style="width: 930px; height: 600px; margin-top:5px;"></div>
		<div id="jobs" style="padding:10px">
			<table class="sparql-results" id="vacancyTable" style="width:100%">
				<thead>
				  <tr>
				    <th>Please click on an individual department to view the vacancies within it.</th>
				  </tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>

    <section id="details" style="clear:both; padding:1em; margin-top:1em">
		<h2>Details</h2> 
      <p>This shows a breakdown (by department) of the vacancies currently available on the University of Oxford's <a href="http://www.recruit.ox.ac.uk">recruitment website</a> and/or <a href="http://www.jobs.ac.uk">www.jobs.ac.uk</a>.</p>
	  <p>Left-click on a department to see the breakdown of vacancies within that department if it has any subdepartments. Right-click to move to its parent department.</p>
	  <p>The Treemap is powered by the <a href="http://code.google.com/apis/chart/">Google Chart Tools</a>.</p>
	  <p>Note: some RSS feeders (eg Outlook) convert URLs to lowercase before subscribing, yet URLs are case sensitive. In this situation, please use a service such as <a href="http://bit.ly">http://bit.ly</a> to change one of our links to a lower-case URL.</p>
    </section>
{% endblock %}
