{% extends "base.html" %}

{% block title %}Vacancy Treemap{% endblock %}

{% block extrahead %}
	<script src="http://code.jquery.com/jquery-1.5.min.js" type="application/javascript"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript">
			
	  google.load("visualization", "1", {packages:["treemap"]});
      google.setOnLoadCallback(drawChart);
  
      function drawChart() {
	 
	  window.googledata = new google.visualization.DataTable();
	      window.googledata.addColumn('string', 'Department');
          window.googledata.addColumn('string', 'Parent');
          window.googledata.addColumn('number', 'Number of Vacancies');
		  window.googledata.addColumn('number', 'Colour');
		  
          // Create and populate the data table.

		var query = "PREFIX vacancy: <http://purl.org/openorg/vacancy/>" 
			+ "SELECT ?dept ?dept_name ?parent ?parent_name (count(?vac) as ?novacs) WHERE {" 
			+ "?vac vacancy:within ?dept ." 
			+ "?dept skos:prefLabel ?dept_name ."
			+ "?vac a vacancy:Vacancy ."
			+ "OPTIONAL{  ?dept dcterms:isPartOf ?parent . ?parent skos:prefLabel ?parent_name . }" 
			+ "} GROUP BY ?dept ?parent ?dept_name ?parent_name"
		
		var deptQuery = "PREFIX vacancy: <http://purl.org/openorg/vacancy/>"
						+ "SELECT ?vac_title ?vac_desc ?vac_salary ?vac_closing ?vac_link WHERE {"
						  + "?vac a vacancy:Vacancy ."
						  + "?vac rdfs:label ?vac_title ."
						  + "?vac vacancy:description ?vac_desc ."
						  + "OPTIONAL {?vac vacancy:description ?vac_desc . }"
						  + "OPTIONAL {?vac vacancy:salary_grade ?vac_salary . }"
						  + "OPTIONAL {?vac vacancy:closingDate ?vac_closing . }"
						  + "?vac vacancy:within ?org ."
						  + "?org skos:prefLabel \"DEPARTMENT\"^^xsd:string ."
						+ "} ORDER BY ASC(?vac_closing)" ;
		
		$(function() {
      $.get('http://data.ox.ac.uk/sparql/', 
	        {format: 'srj', query: query, datatype: 'json', common_prefixes: 'on',}, 
			function(data) {
        
		  // Create and draw the visualization.
        window.tree = new google.visualization.TreeMap(document.getElementById('visualization'));
		google.visualization.events.addListener(tree, 'onmouseover', treeMouseOver);
		function treeMouseOver(e) {
		  // alert(e);
		}

		//nasty hacks
		if (data.head == undefined) data = $.parseJSON(data);
		if (data.results.bindings != undefined) {data.results = data.results.bindings}
		
		window.parentsadded = {};
		
		function addparents(uri, uri_name){

			var parentquery = "SELECT ?parent ?parent_name WHERE {"
							  + "<" + uri + ">" + " dcterms:isPartOf ?parent . ?parent skos:prefLabel ?parent_name . }"
			if (uri in window.parentsadded) {} else{
					
			$.ajax({async: false,
			        url:'http://data.ox.ac.uk/sparql/', 
					data: {format: 'srj', query: parentquery, datatype: 'json', common_prefixes: 'on',}, 
					success: function(data) {
								if (data.head == undefined) data = $.parseJSON(data);
								if (data.results.bindings != undefined) {data.results = data.results.bindings}
								
								if (data.results.length == 0)
								{
									//ie the uri has no parent!
									window.googledata.addRows([[ uri_name,"Oxford",0,0]]);
									window.parentsadded[uri] = '';
								}else{
								//for (i in data.results) {
									var i = 0; 
								{
									var parent = data.results[i].parent;
									var parent_name = data.results[i].parent_name;
									addparents(parent.value, parent_name.value);
									window.googledata.addRows([[uri_name, parent_name.value,0,0]]);
									window.parentsadded[uri] = '';
								}
								}
							
							} });
			}
		}
				
        for (i in data.results) {
          var binding = data.results[i];
		  if (binding.parent != undefined)
		  {
				if (binding.parent_name.value == "Department of Physics") {
					var a = 1;
				}
				addparents(binding.parent.value, binding.parent_name.value);
		  }
        }
	    for (i in data.results) {
          var binding = data.results[i];
		  // if the entry is a parent the we add with *itself* as parent, otherwise we add it to its real parent 
		  	if (binding.dept.value == "http://oxpoints.oucs.ox.ac.uk/id/23232740")
			{
				var a = 1;
			}
			
		  if (binding.parent != undefined){
			if (binding.dept.value in window.parentsadded){
			window.googledata.addRows([
				[ binding.dept_name.value + " (itself)",binding.dept_name.value,parseInt(binding.novacs.value),0]]);
			}else{
			window.googledata.addRows([
				[ binding.dept_name.value,binding.parent_name.value,parseInt(binding.novacs.value),0]]);
			}
		  }else{
			window.googledata.addRows([
				[ binding.dept_name.value,"Oxford",parseInt(binding.novacs.value),0]]);
		  }
        }	
		
		//count how many things have either 'Oxford' or 'University of Oxford' as a parent
		var nocolours = 0;
		for (i = 0; i < window.googledata.getNumberOfRows(); i = i + 1)
		{
			var dept = window.googledata.getValue(i, 0);
			var parent = window.googledata.getValue(i, 1);
			if (parent == "University of Oxford" || (parent=="Oxford" && dept != "University of Oxford"))
				nocolours += 1;
		}
		
		var coloursadded = 1;
		for (i = 0; i < window.googledata.getNumberOfRows(); i++)
		{
			var dept = window.googledata.getValue(i, 0);
			var parent = window.googledata.getValue(i, 1);
			if (parent == "University of Oxford" || (parent=="Oxford" && dept != "University of Oxford"))
			{
				window.googledata.setCell(i, 3, (coloursadded));
				setChildren(dept, coloursadded);
				coloursadded += 1;
			}
		}
		
		function setChildren(dept, coloursadded)
		{
			var j = 0;
			for (j = 0; j < window.googledata.getNumberOfRows(); j++)
			{
				var new_dept = window.googledata.getValue(j, 0);
				var new_parent = window.googledata.getValue(j, 1);
				if (new_parent == dept)
				{
						window.googledata.setCell(j, 3, coloursadded);
						setChildren(new_dept, coloursadded);
				}
			}
		}
		
		
		
		window.tree.draw(window.googledata, {
            minColor: 'd4c665',
            midColor: 'eeeeee',
            maxColor: '6d6fc3',
			maxDepth: 5,
            headerHeight: 25,
            fontColor: 'black',
            showScale: false});

			
		google.visualization.events.addListener(window.tree, 'onmouseover', onMouseHandler);
		google.visualization.events.addListener(window.tree, 'select', selectHandler);
		
	   function onMouseHandler(e) {
				var sel = e.row;
				if (window.googledata.getValue(sel, 2) > 0) 
				{
					var x = $("div:contains(" + window.googledata.getValue(sel, 0) + ")");
					if (window.googledata.getValue(sel, 2) == 1)
						x[0].innerHTML = "<div style=\"background:infobackground; color: infotext; padding: 1px; border: 2px solid infotext; font-size: 12px; font-family: Arial\">" + "1 vacancy in " +  window.googledata.getValue(sel, 0) + "</div>" ;
					else
						x[0].innerHTML = "<div style=\"background:infobackground; color: infotext; padding: 1px; border: 2px solid infotext; font-size: 12px; font-family: Arial\">" + window.googledata.getValue(sel, 2) + " vacancies in " + window.googledata.getValue(sel, 0) + "</div>" ;						
				}
		}
		
		function selectHandler(e) {
			department_name = window.googledata.getValue(window.tree.getSelection()[0].row,0);
			department_name = department_name.replace(" (itself)", "");
			// $("#department_text").html(dept);
			for(var i = document.getElementById("jobslist").rows.length; i > 0;i--)
			{
				document.getElementById("jobslist").deleteRow(i -1);
			}
			
			$("#jobslist > tbody").html("<tr><td width=500><b>Jobs in " + department_name.replace(' ', '&nbsp;') + "</b></td><td width=150 style=\"text-align:center;\"><b>Salary</b></td><td width=150 style=\"text-align:center;\"><b>Closing Date</b></td><td width=100></td></tr>");
			
			q = deptQuery.replace("DEPARTMENT", department_name);
					$.ajax({async: false,
			        url:'http://data.ox.ac.uk/sparql/', 
					data: {format: 'srj', query: q, datatype: 'json', common_prefixes: 'on',}, 
					success: function(data) {
								if (data.head == undefined) data = $.parseJSON(data);
								if (data.results.bindings != undefined) {data.results = data.results.bindings}
							
		                                                if (data.results.length  > 0){
								for (i in data.results)
								{
									binding = data.results[i];
									
									joblist = $("#jobslist > tbody").html($("#jobslist > tbody").html() + "<tr style=\"border-width: 1 1 1 1\"><td width=500>" + binding.vac_title.value + "</td><td width=150 style=\"text-align:center;\">");
									if (binding.vac_salary):
										$("#jobslist > tbody").html($("#jobslist > tbody").html() + " Grade: "+ binding.vac_salary.value);
									else:
										$("#jobslist > tbody").html($("#jobslist > tbody").html()  + "</td><td width=150 style=\"text-align:center;\">");
									$("#jobslist > tbody").html($("#jobslist > tbody").html()  + binding.vac_closing.value + "</td><td width=100 style=\"text-align:center;\">link</td></tr>");
								}
								}else{
									$("#jobslist > tbody").html("<tr><td colspan=4>Please click on a individual department to view the vacancies within it.</td></tr>");
								}
								}
							
							} );
				
		}
		
	   
      });
    });		
          googledata.addRows([
            ["Oxford",null,0,0]
          ]);
		  		
	
      }
    </script>
  <style type="text/css">
    ul#units, div#map, section#details {
      display: block;
      border:1px solid #aaa;
      margin-top:0;
    }
    ul#units {
      margin-left:1em;
    }
    ul#units li ul {
      padding-left:2em;
      list-style:none;
    }
    ul#units li {
      padding:0 2px;
    }
    ul#units li.highlight {
      color:#fff;
      background-color:#00f;
    }
    p#description {
      margin-top:0;
      font-size: 10pt;
    }
    h1 {
      margin-bottom: 0;
    }
    
    #loading {
      padding:4em;
      margin:4em;
      text-align:center;
      font-size:30px;
      
    }
  </style>
{% endblock %}

{% block body %}
  
  <article>
    <h1>Vacancy Treemap</h1>
       
    <div id="visualization" style="width: 930px; height: 600px; margin-top:5px;"></div>
		<div id="jobs" style="padding:10px">
			<style type="text/css">
				/* <![CDATA[ */

				table, td
				{
					border-color: #666;
					border-style: solid;
				}

				table
				{
					border-width: 0 0 0px 0px;
					border-spacing: 0;
					border-collapse: collapse;
				}

				td
				{
					margin: 0;
					padding: 4px;
					border-width: 2 0 2 0;
					background-color: #FFC;
				}

				/* ]]> */
			</style>
			<table width=900 id="jobslist" style="padding-left:5px;">
				<tr><td colspan=4>Please click on an individual department to view the vacancies within it.</td></tr>
			</table>
		</div>

    <section id="details" style="clear:both; padding:1em; margin-top:1em">
		<h2>Details</h2> 
      <p>This shows a breakdown (by department) of the vacancies currently available on the University of Oxford's <a href="http://www.recruit.ox.ac.uk">recruitment website</a>.</p>
	  <p>Left-click on a department to see the breakdown of vacancies within that department. Right-click to move to its parent department.</p>
	  <p>The Treemap is powered by the <a href="http://code.google.com/apis/chart/">Google Chart Tools</a>.</p>
    </section>
    
  </article>
{% endblock %}
