{% extends "equipment/base.html" %}

{% block title %}About{% endblock %}

{% block body_class %}equipment-about{% endblock %}

{% block content %}
  <h1>About the database</h1>
 
  <p>The database has been developed as part of the Research Equipment Use and
     Sharing Project whose primary aim is to:</p>
  
  <ol>
    <li>encourage collaboration and shared use of research facilities and
        equipment within Oxford, and</li>
    <li>to help researchers when considering developing grant applications
        (including where the Research Councils require an assessment of
        existing assets).</li>
  </ol>
 
  <p>The database holds information on equipment over £10K and documents the
     department and location, whether a piece of equipment is shareable or not,
     the technical specification (including modifications and limitations),
     availability, access, restrictions and a website link where available. In
     addition each piece of equipment has been classified under a category and
     sub-category listing.</p>
 
  <h1 class="not-first">About the project</h1>
 
  <p>The <a href="http://www.admin.ox.ac.uk/researchsupport/oxonly/facilities/project/">Research
     Equipment Use and Sharing project</a> was established in 2010 and is
     co-sponsored by the TRAC and FEC Group (chaired by Professor William
     James) and the Integrated Services Interest Group (chaired by Mr Michael
     Sibley). The project is designed to promote Oxford’s
     <a href="http://www.admin.ox.ac.uk/researchsupport/oxonly/facilities/list/">Small
     Research Facilities (SRFs)</a> and to examine ways to ensure Oxford is
     using its current research equipment and facilities to full potential
     (including how we encourage collaboration and the shared use of equipment
     within Oxford).</p>
 
  <p>Members of the project group include Dr. Glenn Swafford (Director of
     Research Services and chair of the group), Tricia Murkin (Senior Research
     Finance Officer, Research Services), Gerry Pocklington (administrator for the Department of
     Biochemistry), John Deller (administrator for the Department of
     Physiology, Anatomy and Genetics), Michelle Warren (Facilitator,
     Department of Physics), and  Colin Ryde (Director of Administration and Finance,
     Department of Chemistry).</p>
 
  <p>More information about Research Facilities and Equipment can be found on
     the <a href="http://www.admin.ox.ac.uk/researchsupport/facilities/">Research
     Support Website</a>.</p>

{% endblock %}