{% extends "equipment/base.html" %}

{% block title %}Browse{% endblock %}

{% block body_class %}equipment-browse equipment-browse-{{ level }}{% endblock %}

{% block content %}

<h1>{% if not concept %}Categories{% else %}{{ concept.label }}{% endif %}</h1>

{% include "equipment/login_prompt.html" %}

{% if concepts %}
<h2 class="hidden">Sub-categories</h2>
<ul class="equipment-categories">
{% for concept in concepts %}
  <li class="equipment-category">
    <h3><a href="{% url browse concept.skos_notation %}">{{ concept.label }}</a></h3>
    {% if concept.skos_narrower %}
    <ul>{% for narrower in concept.all.skos_narrower %}
      <li><a href="{% url browse narrower.skos_notation %}">{{ narrower.label }}</a></li>{% endfor %}
    </ul>
    {% endif %}
    {% if concept.dcterms_subject_inv %}
    <ul>{% for equipment in concept.all.dcterms_subject_inv %}
      <li><a href="{{ equipment.doc_url }}">{{ equipment.label }}</a></li>{% endfor %}
    </ul>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}

{% if concept.dcterms_subject_inv %}
<h2 class="hidden">Equipment</h2>
<ul>
{% for equipment in concept.all.dcterms_subject_inv %}
  <li><a href="{{ equipment.doc_url }}">{{ equipment.label }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if not concepts and not concept.dcterms_subject_inv %}
<p>There are no categories or equipment to display.</p>
{% endif %}


{% endblock %}
