{% extends "equipment/base.html" %}

{% block title %}{% if not concept %}Browse{% else %}{{ concept.label }}{% endif %}{% endblock %}

{% block body_class %}equipment-browse equipment-browse-{{ level }}{% endblock %}

{% block content %}
{% include "equipment/login_prompt.html" %}

{% with concept.skos_narrower_inv as broader %}
<h1>{% if not concept %}Categories (Oxford equipment only){% else %}{% if broader %}<a href="{% url "browse" broader.skos_notation %}">{{ broader.label }}</a> » {% endif %}{{ concept.label }}{% endif %}</h1>
{% endwith %}

{% if not concept %}
<p>All pieces of equipment have been categorised according to the experimental
   technique that they are mainly associated with. Similar techniques or those
   associated with a particular field of study have been grouped together,
   enabling a two-tier searchable system. Any suggestions for
   re-categorisation should be made via the <a href="{% url "contact" %}">contact page</a>.</p>
{% endif %}

{% if concepts %}
<h2 class="hidden">Sub-categories</h2>
<ul class="equipment-categories">
{% for concept in concepts %}
  <li class="equipment-category">
    <h3><a href="{% url "browse" concept.skos_notation %}">{{ concept.label }}</a></h3>
    {% if concept.skos_narrower %}
    <ul>{% for narrower in concept.all.skos_narrower %}
      <li><a href="{% url "browse" narrower.skos_notation %}">{{ narrower.label }}</a></li>{% endfor %}
    </ul>
    {% endif %}
    {% if concept.dcterms_subject_inv %}
    <ul>{% for equipment in concept.all.dcterms_subject_inv %}
      <li><a href="{{ equipment.doc_url }}">{{ equipment.label }}</a></li>{% endfor %}
    </ul>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}

{% if concept.dcterms_subject_inv %}
<h2 class="hidden">Equipment</h2>

{% include "equipment/view/equipment_list.html" with equipment_list=equipment show_managed_by=1 show_location=1 %}

{% endif %}

{% if not concepts and not concept.dcterms_subject_inv %}
<p>There are no categories or equipment to display.</p>
{% endif %}


{% endblock %}
