{% extends "equipment/base.html" %}

{% block title %}Contribute{% endblock %}

{% block body_class %}equipment-contribute{% endblock %}

{% block content %}
  <h1>Contribute</h1>

  <p>Use this form to tell us about any new peice of equipment you'd like
     listed. If a record needs modifying or removing, please
     <a href="{% url contact %}">contact us directly</a>.</p>

  <form method="post" action=".">

  	<table class="contribute">
	  <tbody>
        {{ form }}
	  </tbody>
	  <tfoot>
	    <tr>
	      <td colspan="2">
	        <input type="submit" value="Submit">
	      </td>
	    </tr>
	  </tfoot>
  	</table>
  </form>

  {% endblock %}