{% extends "equipment/base.html" %}

{% block title %}About{% endblock %}

{% block body_class %}equipment-contact{% endblock %}
{% block content %}

  <h1>Contact</h1>

  <p>If you would like to discuss the possibility of sharing a particular item
     of equipment or use a facility, please contact the person listed for that
     record. If you have any other suggestions or comments about the Research
     Facilities and Equipment database please email
     <a href="mailto:research.facilities@admin.ox.ac.uk">research.facilities@admin.ox.ac.uk</a>.</p>



{% endblock %}