{% extends "equipment/base.html" %}

{% block title %}Home{% endblock %}

{% block body_class %}equipment-index{% endblock %}

{% block content %}

{% include "equipment/login_prompt.html" %}
  <h1>Welcome</h1>

  <p>Welcome to the University of Oxford's research facilities and equipment
     on-line searchable database which has been developed with funding from
     <a href="http://www.epsrc.ac.uk/">EPSRC</a>. The purpose of this database
     is to provide information on research
     equipment over £10K and on the University’s Small Research Facilities
     (SRFs) and to promote and encourage the sharing of equipment across the
     University.</p>

  <p>You can search for a piece of equipment using only the free text search
     field below, do an advanced search where you can refine by general
     location and or browse by <a href="{% url browse %}">category</a>
     or <a href="{% url facilities %}">facility</a>.</p>

  <p>If you would like to add or amend an entry, please see the Contribute
     page. For all other queries please see the Contact page.</p>

  <p>The data collected through this exercise are being used to assist the
     academic analysis of current and future needs, including work commissioned
     by <a href="http://www.ndm.ox.ac.uk/principal-investigators/researcher/peter-ratcliffe">Professor
     Peter Ratcliffe</a> and Oxford’s <a href="http://www.issf.ox.ac.uk/">Wellcome
     Trust Institutional Strategic Institutional Support Fund (WT ISSSF)</a>
     Committee in relation to (i) imaging and (ii) mass spectrometry. Further
     information and links to the audits can be found on
     <a href="http://www.issf.ox.ac.uk/strategy-documents">the ISSF
     website</a>.</p>

  <form class="simpleSearch" method="get" action="{% url search %}">
    <input name="q"/>
    <input name="filter.formalOrganisation.uri" value="http://oxpoints.oucs.ox.ac.uk/id/00000000" type="hidden"/>
    <input type="submit" value="Search"/>
  </form>



{% endblock %}
