{% extends "elasticsearch/search.html" %}{% load humfrey_desc %}{% load humfrey_elasticsearch %}

{% block other_formats %}{% endblock %}

{% block body_class %}{{ block.super }} equipment-search{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}


{% include "equipment/login_prompt.html" %}

  <h1>Search</h1>

  {% if not hits %}
    <h2 class="hidden">Query</h2>
    
    <form method="get" action="." class="advanced-search-form">
      <table>
        <tbody>
          {{ form }}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <input type="submit" value="Search"/>
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
    
   
   <div class="panel searchTips">
   <h2>Tips on searching</h2>
   <p>You can use single terms or phrases in your query. A Single Term is a single word such as "test" or "hello". A Phrase is a group of words surrounded by double quotes such as "hello dolly".</p>

<p>Multiple terms can be combined together with  operators such as <strong>-</strong> and <strong>*</strong> to form a more complex query. </p>

<p>For example <strong>video - endoscope</strong> would find records that contain 'video' but <em>not</em> 'endoscope'.  <strong>*scope</strong> would find records that contain words ending in 'scope'.


</p>

<p>For more information, please see the <a href="http://lucene.apache.org/core/3_6_0/queryparsersyntax.html" >Lucene search syntax guide</a>.</p>
   <h3>Example queries</h3>
    
    <ul class="searchExamples">
      <li><tt><a href="?q=*" >*</a></tt> (matches everything)</li>
      <li><tt><a href="?q=microscope" >microscope</a></tt> (mostly things that are microscopes)</li>
      <li><tt><a href="?q=microscopy" >microscopy</a></tt> (things to do with microscopy)</li>
      <li><tt><a href="?q=micro*" >micro*</a></tt> (things to do with small things)</li>
      <li><tt><a href="?q=category.label:cell" >category.label:cell</a></tt> (things in cell-related categories)</li>
    </ul>
    
    
    </div>
  {% endif %}

      <div class="results">
  {% if hits %}

  <h2 class="hidden">Results</h2>

  <p class="numResults">
    Your search for <strong>{{ q }}</strong> returned <strong>{{ hits.total }}</strong> result{{ hits.total|pluralize }}.
{% if not user.is_authenticated %}
    <a href="{{ login_url }}">Try logging in to see restricted results.</a>
{% endif %}
  </p>

 <div class="pagination" >
 {% include "elasticsearch/pagination.html" %}
  </div>
  <ol start="{{ start }}">
  {% for hit in hits.hits %}{% block hit %}
  <li class="search-item">
    {% include hit|search_item_template:default_search_item_template_name %}
  </li>
  {% endblock %}{% endfor %}
  </ol>

   <div class="pagination" >
 {% include "elasticsearch/pagination.html" %}
  </div>
  {% endif %}
  </div>
{% endblock %}

{% block with_right_sidebar %}{% if hits %} with-right-sidebar {% endif %}{% endblock %}

{% block right_sidebar %}
  {% if hits %}
  <aside class="right-sidebar">
    <div class="sidebar-item search-box">
      <h2 class="hidden">Query</h2>
      <form method="get" action="." class="panel simpleSearch" >
        {{ form.q }}
        <input type="submit" value="Search"/>
      </form>
    </div>
  {% endif %}
  {% if facets and hits.total %}
    <div class="sidebar-item">
      <h2>refine by&hellip;</h2>
      {% if facets.shareability %}
        {% include "elasticsearch/aggregation.html" with facet=facets.shareability facet_name="shareability" terse=1 %}
      {% endif %}
      {% if facets.institution %}
        {% include "elasticsearch/aggregation.html" with facet=facets.institution facet_name="institution" terse=1 %}
      {% endif %}
      {% if facets.department %}
        {% include "elasticsearch/aggregation.html" with facet=facets.department facet_name="department" terse=1 %}
      {% endif %}
      {% if facets.basedNear %}
        {% include "elasticsearch/aggregation.html" with facet=facets.basedNear facet_name="location" terse=1 %}
      {% endif %}
      {% if facets.category %}
        {% include "elasticsearch/aggregation.html" with facet=facets.category facet_name="category" terse=1 %}
      {% endif %}
      {% if facets.subcategory %}
        {% include "elasticsearch/aggregation.html" with facet=facets.subcategory facet_name="subcategory" terse=1 %}
      {% endif %}
      {% if facets.oxford %}
        {% include "elasticsearch/aggregation.html" with facet=facets.oxford facet_name="Oxford?" terse=1 %}
      {% endif %}
    </div>
  {% endif %}
  {% if hits %}
  </aside>
  {% endif %}
{% endblock %}
