{% extends "elasticsearch/search.html" %}{% load humfrey_desc %}

{% block other_formats %}{% endblock %}

{% block body_class %}{{ block.super }} equipment-search{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}
  <h1>Search</h1>

  {% if not hits %}
    <div class="sidebar-item search-box">
      <h2>Query</h2>
      <form method="get" action=".">
        {{ form.q }}
        <input type="submit" value="Search"/>
      </form>
    </div>
  {% endif %}

      <div class="results">
  {% if hits %}

  <p>Your search returned <strong>{{ hits.total }}</strong> results.</p>

  {% include "elasticsearch/pagination.html" %}

  <ol start="{{ start }}">
  {% for hit in hits.hits %}{% block hit %}
  <li>
    <a href="{{ hit.source.uri|doc_url }}">{{ hit.source.label }}</a><br/>
    {{ hit.source.description }}

  </li>
  {% endblock %}{% endfor %}
  </ol>

  {% include "elasticsearch/pagination.html" %}
  {% else %}

  <p>Enter a query to start searching.</p>
  {% endif %}
  </div>
{% endblock %}

{% block with_right_sidebar %} with-right-sidebar{% endblock %}

{% block right_sidebar %}
  {% if hits %}
  <aside class="right-sidebar">
    <div class="sidebar-item search-box">
      <h2>Query</h2>
      <form method="get" action=".">
        {{ form.q }}
        <input type="submit" value="Search"/>
      </form>
    </div>
  {% endif %}
  {% if facets and hits.total %}
    <h2>Refine by&hellip;</h2>
    {% if facets.department %}
      {% include "elasticsearch/facet.html" with facet=facets.department facet_name="department" %}
    {% endif %}
    {% if facets.basedNear %}
      {% include "elasticsearch/facet.html" with facet=facets.basedNear facet_name="location" %}
    {% endif %}
    {% if facets.institution %}
      {% include "elasticsearch/facet.html" with facet=facets.institution facet_name="institution" %}
    {% endif %}
    {% if facets.category %}
      {% include "elasticsearch/facet.html" with facet=facets.category facet_name="category" %}
    {% endif %}
    {% if facets.subcategory %}
      {% include "elasticsearch/facet.html" with facet=facets.subcategory facet_name="subcategory" %}
    {% endif %}
    {% if facets.oxford %}
      {% include "elasticsearch/facet.html" with facet=facets.oxford facet_name="Oxford?" %}
    {% endif %}
  {% endif %}
{% endblock %}
