{% extends "elasticsearch/search.html" %}{% load humfrey_desc %}{% load humfrey_elasticsearch %}

{% block other_formats %}{% endblock %}

{% block body_class %}{{ block.super }} equipment-search{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}
  <h1>Search</h1>

  {% if not hits %}
    <div class="sidebar-item search-box">
      <h2>Query</h2>
      <form method="get" action=".">
        {{ form.q }}
        <input type="submit" value="Search"/>
      </form>
    </div>
  {% endif %}

      <div class="results">
  {% if hits %}

  <h2>Results</h2>
  <p>Your search returned <strong>{{ hits.total }}</strong> results.</p>

  {% include "elasticsearch/pagination.html" %}

  <ol start="{{ start }}">
  {% for hit in hits.hits %}{% block hit %}
  <li>
    <h3><a href="{{ hit.source.uri|doc_url }}">{{ hit.source.label }}</a></h3>
    <div class="equipment-search-byline">
      {{ hit.source.equipmentOf.label|default:hit.source.formalOrganisation.label|default:hit.source.formalOrganisation.uri }}
      {{ hit.source.availability.label }}
    </div>
    {% if hit.source.description %}
    <div class="equipment-search-description">{{ hit.source.description|search_html|truncatewords_html:25 }}</div>
    {% endif %}

  </li>
  {% endblock %}{% endfor %}
  </ol>

  {% include "elasticsearch/pagination.html" %}
  {% else %}

  <p>Enter a query to start searching.</p>
  {% endif %}
  </div>
{% endblock %}

{% block with_right_sidebar %} with-right-sidebar{% endblock %}

{% block right_sidebar %}
  {% if hits %}
  <aside class="right-sidebar">
    <div class="sidebar-item search-box">
      <h2>Query</h2>
      <form method="get" action=".">
        {{ form.q }}
        <input type="submit" value="Search"/>
      </form>
    </div>
  {% endif %}
  {% if facets and hits.total %}
    <div class="sidebar-item">
      <h2>Refine by&hellip;</h2>
      {% if facets.department %}
        {% include "elasticsearch/facet.html" with facet=facets.department facet_name="department" %}
      {% endif %}
      {% if facets.basedNear %}
        {% include "elasticsearch/facet.html" with facet=facets.basedNear facet_name="location" %}
      {% endif %}
      {% if facets.institution %}
        {% include "elasticsearch/facet.html" with facet=facets.institution facet_name="institution" %}
      {% endif %}
      {% if facets.category %}
        {% include "elasticsearch/facet.html" with facet=facets.category facet_name="category" %}
      {% endif %}
      {% if facets.subcategory %}
        {% include "elasticsearch/facet.html" with facet=facets.subcategory facet_name="subcategory" %}
      {% endif %}
      {% if facets.oxford %}
        {% include "elasticsearch/facet.html" with facet=facets.oxford facet_name="Oxford?" %}
      {% endif %}
    </div>
  {% endif %}
  {% if hits %}
  </aside>
  {% endif %}
{% endblock %}
