{% extends "equipment/base.html" %}

{% block title %}{{ subject.label }}{% endblock %}

{% block breadcrumbs %}<li><a href=".">{{ item.source.label }}</a>{% endblock %}

{% block content %}
  <h1>{{ subject.label }}</h1>

  {% if item.source.page %}<p>{% for page in item.source.page %}
  <a href="{{ page.uri }}">{{ page.uri }}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}</p>{% endif %}

  <p>{{ subject.description }}</p>

  <dl>{% if subject.oo_equipmentOf %}
    <dt>Department:</dt>
    <dd>{{ subject.oo_equipmentOf.label }}</dd>{% endif %}{% if subject.oo_availability %}
    <dt>Availability:</dt>
    <dd>{{ subject.oo_availability.label }}</dd>{% endif %}{% if subject.oo_accessPrerequisite %}
    <dt>Access prerequisites:</dt>
    <dd>{{ subject.oo_accessPrerequisite.label }}</dd>{% endif %}{% if subject.oo_useRestriction %}
    <dt>Restrictions on use:</dt>
    <dd>{{ subject.oo_useRestriction.label }}</dd>{% endif %}
  </dl>

  {% if subject.oo_contact %}
  <p>For more information, contact:</p>
  <ul>{% for contact in subject.all.oo_contact %}
    <li>{{ contact.label }}{% if contact.v_email %}, <a href="{{ contact.email }}">{{ contact.v_email|slice:"7:" }}</a>{% endif %}</li>{% endfor %}
  </ul>
  {% endif %}
{% endblock %}

{% block tertiary_content %}{{ block.super }}
  {% if more_like_this.hits.total %}
  <h2>More like this</h2>

  <ul>{% for hit in more_like_this.hits.hits %}
    <li><a href="{% url item hit.id %}">{{ hit.source.label }}</a>{% if hit.source.description %}<br/>{{ hit.source.description|truncatewords:10 }}{% endif %}</li>{% endfor %}
  </ul>
  {% endif %}
{% endblock %}
