{% extends "hosts/dataox.html" %}{% load hosts %}

{% block header_text %}
  <p class="title">Open Data Service Administration</p>
  <p>admin.data.ox.ac.uk <i>(part of <a href="{% host_url index on data %}">data.ox.ac.uk</a>)</i></p>
{% endblock %}

{% block entire_title %}{% block title %}{% endblock %} | admin.data.ox.ac.uk{% endblock %}

{% block nav %}
  <li><a href="{% url index %}">home</a></li>{% if user.is_authenticated %}
  <li><a href="{% url update:index %}">dataset updates</a></li>
  <li><a href="{% url sparql-stores:index %}">stores</a></li>
  <li><a href="{% url timeseries-admin:index %}">time-series</a></li>{% endif %}{% if user.is_staff %}
  <li><a href="{% url admin:index %}">admin</a></li>{% endif %}{% if user.is_authenticated %}
  <li><a href="{% url logout %}">log out <small>({{ user.username }})</small></a></li>{% else %}
  <li><a href="{% url login %}">log in</a></li>{% endif %}
{% endblock %}

{% block search_box %}{% endblock %}
