{% extends "hosts/dataox.html" %}{% load hosts %}

{% block header_text %}
<p class="title">Course data for the University of Oxford</p>
<p>course.data.ox.ac.uk <i>(part of <a href="{% host_url index on data %}">data.ox.ac.uk</a>)</i></p>
{% endblock %}

{% block extra_head %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}course/base.css"/>
{% endblock %}

{% block nav %}
  <li><a href="{% url course:index %}">home</a></li>
  <li><a href="{% url course:index %}">feeds</a></li>
  <li><a href="{% host_url contact on data %}">contact</a></li>
{% endblock %}
