{% load hosts %}{% load compressed %}<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>{% block entire_title %}{% block title %}Open Data about the University of Oxford{% endblock %} | data.ox.ac.uk{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}main.css" type="text/css"/>
    {% include "analytics/include_head.html" %}
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon"/>{% if no_index %}
    <meta name="robots" content="noindex"/>{% endif %}{% for renderer in renderers %}{% for mimetype in renderer.mimetypes %}
    <link rel="alternate" type="{{ mimetype }}" href="{{ renderer.url }}">{% endfor %}{% endfor %}
  <!--[if lt IE 9]>
  <script src="{{ STATIC_URL }}lib/html5shiv.min.js"></script>
  <![endif]-->
    <script type="text/javascript">
      var staticURL = "{{ STATIC_URL|escapejs }}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/openlayers/OpenLayers.js"></script>
    {% compressed_js 'dataox' %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
    {% block extra_head %}{% endblock %}
    <link href="{% host_url search on data %}?opensearchdescription" type="application/opensearchdescription+xml" rel="search" title="data.ox.ac.uk">
  </head>

{% block body %}
  <body class="{% block body_class %}{% endblock %}">{% if staging %}{% include "staging/tab.html" %}{% endif %}
    <div class="container">
    <header>
      <a href="http://www.ox.ac.uk/">
        <img src="{{ STATIC_URL }}brandmark.gif" alt="University of Oxford"/>
      </a>
      {% block header_text %}
      <p class="title">Open Data about the University of Oxford</p>
      <p>data.ox.ac.uk</p>
      {% endblock %}
      <a href="https://docs.data.ox.ac.uk/overview.html#service-status"><img src="{{ STATIC_URL }}beta.png" alt="beta" title="data.ox.ac.uk is currently in beta" id="beta-badge"/></a>
    </header>
    
    <nav>
      <ul>
{% block nav %}
        <li><a href="{% host_url index on data %}">home</a></li>
        <li><a href="{% host_url datasets on data  %}">datasets</a></li>
        <li><a href="{% host_url explore on data  %}">explore</a></li>
        <li><a href="{% host_url sparql:endpoint on data  %}">sparql</a></li>
        <li><a href="https://docs.data.ox.ac.uk/">documentation</a></li>
        <li><a href="{% host_url contact on data  %}">contact</a></li>
{% endblock %}
      </ul>
{% block search_box %}
      <div class="search-form">
        <form method="get" action="{% block search_target %}{% host_url search on data %}{% endblock %}" style="display:inline;">
          <label for="search-query">Search&hellip;</label>
          <input id="search-query" name="q" style="width:100px"/>
          <input class="search-submit" type="submit" value="Search"/>
        </form>
      </div>
{% endblock %}
    </nav>

    <article>{% block content %}
      <h1>Home</h1>
    {% endblock %}</article>

      <footer>{% block footer %}
        Site © University of Oxford •
        <a href="http://creativecommons.org/licenses/by-sa/2.0/uk/" title="Attribution-ShareAlike 2.0 UK: England &amp; Wales">CC-BY-SA 2.0</a> •
        <a href="{% host_url legal on data %}">Legal and privacy</a> •
        <a href="https://github.com/ox-it/dataox">Source</a>
      {% endblock %}</footer>
    </div>
    {% include "analytics/include_foot.html" %}
  </body>
{% endblock %}
</html>
