<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- print stylesheet for print stlying -->
  <link media="print" href="{{ STATIC_URL }}equipment/css/print.css" rel="stylesheet" type="text/css" />

  <!-- general reset styles for getting rid of annoying browser defaults -->
  <link media="all" href="{{ STATIC_URL }}equipment/css/reset.css" rel="stylesheet" type="text/css" />

  <!-- basic styles suitable for all devices *DO not put layout stuff here * -->
  <link media="all" href="{{ STATIC_URL }}equipment/css/basic.css" rel="stylesheet" type="text/css" />

  <!-- styles for mobile devices-->
  <link href="{{ STATIC_URL }}equipment/css/tiny.css" rel="stylesheet" type="text/css" media="screen and (max-width: 639px)" />

  <!-- styles for smallscreen devices-->
  <link href="{{ STATIC_URL }}equipment/css/small.css" rel="stylesheet" type="text/css" media="(min-width: 640px)" />

  <!-- styles for small-to-medium screen desktop  devices-->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}equipment/css/medium.css" media="(min-width: 1100px) and (max-width: 1600px)" />

  <!-- styles for large screen desktop devices-->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}equipment/css/large.css" media="screen and (min-width: 1601px)" />

  <!-- pull in tiny responsive sheets for mobile IE  ->
  <!--[if (lt IE 9)&(!IEMobile)]>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}equipment/css/tiny.css" media="screen"/>
  <![endif]-->


  <!-- pull in small and medium responsive sheets for desktop IE that doesn't unnderstand media queries (e.e before IE 9) ->
  <!--[if (lt IE 9)&(!IEMobile)]>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}equipment/css/small.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}equipment/css/medium.css" media="screen"/>
  <![endif]-->

  <!-- styles for Internet explorer  ie-specific styles -->
  <!--[if (gt IE 4)&(lt IE 9)]>
  <link media="screen" href="{{ STATIC_URL }}equipment-dev/css/ie.css" rel="stylesheet" type="text/css"/>
  <![endif]-->

  <meta name="keywords" content="" />
  <meta name="description" content="" />

  <title>{% block title %}This gets replaced{% endblock %} | Research Equipment Catalogue</title>
</head>
{% block body %}
<body class="{% block body_class %}{% endblock %}">{% if staging %}{% include "staging/tab.html" %}{% endif %}
  <div id="page">
    <header class="pageHeader">
      <h1><a href="index.html" id="homeLink">Research Equipment Catalogue</a></h1>

      <a href="http://www.ox.ac.uk/" id="oxCrest">University of Oxford</a>
    </header>
    <div class="main">
      <article class="content">{% block content %}
        The main content of the page ends up in here.
      {% endblock %}</article>

      <aside>
        <nav>
          <ul>
            <li class="currentsection"><span class="youarehere" >home</span></li>
            <li><a href="{% url about %}" >about the project</a></li>
            <li><a href="{% url search %}" >search</a></li>
            <li><a href="{% url browse %}" >browse by category</a></li>
            <li><a href="{% url contact %}" >contact</a></li>
            {% if user.is_authenticated %}
            <li>logged in as {{ user.first_name }} {{ user.last_name }} ({{ user.username }})</li>
            <li><a href="{% url webauth:logout %}">log out</a></li>
            {% else %}
            <li>logged in users get to see more</li>
            <li><a href="{% url webauth:login %}">log in</a></li>
            {% endif %}
            
          </ul>
        </nav>

        {% block tertiary_content %}{% endblock %}
      </aside>
    <!-- close .main -->
    <div style="clear:both"></div>
    </div>

    <footer class="site">
      <div class="copyright">
        © University of Oxford
      <!-- close .copyright -->
      </div>
    </footer>
    </div><!-- /end #page -->
</body>{% endblock body %}
</html>
