<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- print stylesheet for print stlying -->
  <link media="print" href="{{ STATIC_URL }}equipment/css/print.css" rel="stylesheet" type="text/css" />

  <!-- general reset styles for getting rid of annoying browser defaults -->
  <link media="all" href="{{ STATIC_URL }}equipment/css/reset.css" rel="stylesheet" type="text/css" />

  <!-- basic styles suitable for all devices *DO not put layout stuff here * -->
  <link media="all" href="{{ STATIC_URL }}equipment/css/basic.css" rel="stylesheet" type="text/css" />

  <!-- styles for mobile devices-->
  <link href="{{ STATIC_URL }}equipment/css/tiny.css" rel="stylesheet" type="text/css" media="screen and (max-width: 639px)" />

  <!-- styles for smallscreen devices-->
  <link href="{{ STATIC_URL }}equipment/css/small.css" rel="stylesheet" type="text/css" media="(min-width: 640px)" />

  <!-- styles for small-to-medium screen desktop  devices-->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}equipment/css/medium.css" media="(min-width: 999px) and (max-width: 1600px)" />

  <!-- styles for large screen desktop devices-->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}equipment/css/large.css" media="screen and (min-width: 1601px)" />

  <!-- pull in tiny responsive sheets for mobile IE  -->
  <!--[if (lt IE 9)&(!IEMobile)]>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}equipment/css/tiny.css" media="screen"/>
  <![endif]-->


  <!-- pull in small and medium responsive sheets for desktop IE that doesn't understand media queries (i.e. before IE 9) -->
  <!--[if (lt IE 9)&(!IEMobile)]>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}equipment/css/small.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}equipment/css/medium.css" media="screen"/>
  <![endif]-->

  <!-- styles for Internet explorer  ie-specific styles -->
  <!--[if (gt IE 4)&(lt IE 9)]>
  <link media="screen" href="{{ STATIC_URL }}equipment/css/ie.css" rel="stylesheet" type="text/css"/>
  <![endif]-->


{% include "analytics/include_head.html" %}

  <meta name="keywords" content="" />
  <meta name="description" content="" />{% if no_index %}
  <meta name="robots" content="noindex"/>{% endif %}
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
  <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" />
  
  <script type="text/javascript">
    var staticURL = "{{ STATIC_URL|escapejs }}";
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.4.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}jquery-collapsible-content/js/jQuery.collapsible.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}equipment/base.js"></script>
  {% block extra_head %}{% endblock %}
  

  <title>{% block title %}This gets replaced{% endblock %} | Research Facilities and Equipment at Oxford</title>
</head>
{% block body %}
<body class="{% block body_class %}{% endblock %}">{% if 0 and staging %}{% include "staging/tab.html" %}{% endif %}
  <div id="page">
    <header class="pageHeader">
      <div class="siteTitle"><a href="{% url index %}" id="homeLink">Research Facilities and Equipment at Oxford</a></div>

      <a href="http://www.ox.ac.uk/" id="oxCrest">University of Oxford</a>
    </header>
    <div class="main">
      <article class="content">
      <div class="wrapper{% block with_left_sidebar %} with-left-sidebar{% endblock %}{% block with_right_sidebar %}{% endblock %}">
      {% block content %}
        The main content of the page ends up in here.
      {% endblock %}
      </div>
      </article>

    {% block right_sidebar %}{% endblock %}
	{% block left_sidebar %}
      <aside class="left-sidebar">
        <nav>
          <h2 class="hidden">Site Navigation</h2>
          <ul>
            <li><a href="{% url index %}">home</a></li>
            <li><a href="{% url search %}">search</a></li>
            <li><a href="{% url browse %}">browse by category</a></li>
            <li><a href="{% url about %}">about</a></li>
            <li><a href="{% url contribute %}">contribute</a></li>
            <li><a href="{% url contact %}">contact</a></li>
            </ul>
            
            <div class="panel user" >
            {% if user.is_authenticated %}
            <p class="iam">logged in as <span class="realName">{{ user.first_name }} {{ user.last_name }}</span> </p>
            <p class="logInOut"><a href="{% url webauth:logout %}">log out</a></p>
            {% else %}
            <p>Log in to see more results</p>
            <p class="logInOut"><a href="{% url webauth:login %}">log in</a></p>
            
            {% endif %}
          </div>
          
          <div class="equipment-credit">Supported by:
          <a href="http://www.epsrc.ac.uk/" class="brandmark" id="brandmark-epsrc" title="Work on this project has been facilitated by an EPSRC Institutional Sponsorship Grant (EPSRC Delivery Plan theme: ‘Efficiency and Effectiveness - promoting sharing of research equipment’)">Engineering and Physical Sciences Research Council</a>
          </div>

          <div class="equipment-credit">Powered by:
          <a href="http://data.ox.ac.uk/" class="brandmark" id="brandmark-open-data-service">University of Oxford Open Data Service</a>
          </div>
          
        </nav>
      </aside>
    {% endblock %}
    
    <!-- close .main -->
    <div style="clear:both"></div>
    </div>

    <footer class="site">
      <div class="copyright">
         © University of Oxford
        
        <a href="{% url legal %}">Privacy statement</a> 
      <!-- close .copyright -->
      </div>
    </footer>
    </div><!-- /end #page -->
  {% include "analytics/include_foot.html" %}
</body>{% endblock body %}
</html>
