/* basic style; no layout */

.panel /* .user, .simpleSearch */ {
	display: block;
	background: #FDFEFE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfefe', endColorstr='#f4f7fa');
	background: -webkit-gradient(linear, left top, left bottom, from(#FDFEFE), to(#F4F7FA));
	background: -moz-linear-gradient(top, #FDFEFE, #F4F7FA);
	border: 1px solid #DFE2E4;
	border-bottom-width: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	clear: both;
	color: black;
	margin: 10px 0px 15px 0px;
	padding: 5px;
}


div.login-methods {
	text-align: center;
}


div.login-method span.login-method-webauth-link-outer {
	display: block;
	font-size: 150%;
}

div.login-method-form table {
	margin-left: auto;
	margin-right: auto;
}


div.login-method-form tbody {
	text-align: left;
}

div.login-method-form tfoot {
	text-align: right;
}

div.login-method-form tfoot a {
	margin-left: 1em;
}

div.login-method img {
	border: 0;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
