{% extends "manage/base.html" %}


{% block content %}
  <h1>Backstage</h1>

  <p>What you can find here:</p>

  <ul>
    <li>Authenticated services</li>
    <li>Access to the <a href="{% url sparql-admin:index %}">SPARQL, search,
        graph and ElasticSearch endpoints</a> for all stores you're allowed
        to look at</li>
    <li>Administrative interfaces (for people with the right powers)</li>
  </ul>

  {% if not user.is_authenticated %}
  <p>Please log in.</p>
  {% endif %}
{% endblock %}