{% extends "equipment/account/base.html" %}

{% block title %}Email address confirmation{% endblock %}

{% block content %}
<article>
  <h1>Email address confirmation</h1>

  <form method="post" action=".">
  <p>You recently registered for an account with the e-mail address <strong>{{ confirmation.email }}</strong>.</p>
  
  <p><input type="submit" value="Confirm this registration"></p>
  </form>
  
  <p>If the confirmation email came as a surprise, you may safely ignore it.</p>
</article>
{% endblock %}