{% extends "equipment/account/base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}
<article>
	<h1>Reset password</h1>
	<p>This function is only available to <abbr title="Oxford University Hospitals NHS Trust">OUH</abbr> users.</p>
	<form method="post" action=".">{% csrf_token %}
	<table>
		<tbody>{{ form }}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"><input type="submit" value="Send password reset e-mail"></td>
			</tr>
		</tfoot>
	</table>
	</form>
</article>
{% endblock %}