{% extends "old_feeds/base.html" %}{% load humfrey_desc %}

{% block title %}Vacancies within {{ unit.label }}{% endblock %}

{% block content %}
  <p id="deprecation-notice">Data.ox is deprecated. It will eventually be turned off so please start planning for this.</p>
  <h1>{% if unit %}{% if all %}All v{% else %}V{% endif %}acancies within {{ unit|node }}{% else %}All vacancies{% endif %}</h1>
  
    <aside class="toolbox">
    <section class="page-metadata">
      <h2>Other formats</h2>
      <ul>{% for renderer in renderers %}
        <li><a href="{{ renderer.url }}">{{ renderer.name }}</a></li>{% endfor %}
      </ul>
    </section>
    <section class="page-metadata">
      <h2>Filter</h2>
      <form method="get" action="{{ link }}">
        <label for="keyword">Enter a keyword by which to filter:</label>
        <input id="keyword" name="keyword" value="{{ keyword|default:"" }}"/>
        <input type="submit" value="Go!"/>
      </form>
    </section>
  </aside>
  
  {% if items %}
  <p>There are currently {{ items|length }} vacancies{% if unit %}{% if unit %} within {{ unit.label }}{% endif %}{% if keyword %} that mention '<strong>{{ keyword }}</strong>'{% endif %}{% endif %}:</p>
  
  <table class="sparql-results">
    <thead>
      <tr>
        <th>Title</th>
        <th>Closes</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>{% for vacancy in vacancies %}
      <tr class="row-{% cycle "odd" "even" %}">
        <td><a href="#vacancy-{{ vacancy.id }}">{{ vacancy.label }}</a></td>
        <td>{{ vacancy.closes.toPython|default:"<em>unknown</em>" }}</td>
        <td>{{ vacancy.salary.label|default:"<em>not specified</em>" }}</td>
      </tr>{% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>There are not currently any vacancies{% if unit %} within {{ unit.label }}{% endif %}{% if keyword %} that mention '<strong>{{ keyword }}</strong>'{% endif %}.</p>
  {% endif %}
  

{% for vacancy in vacancies %}
<section id="vacancy-{{ vacancy.id }}">
  <h2>{% if vacancy.webpage %}<a href="{{ vacancy.webpage.uri }}">{{ vacancy.label }}</a>{% else %}{{ vacancy.label }}{% endif %}</h2>
  <p>Closes: <strong>{{ vacancy.closes.toPython|default:"<em>unknown</em>" }}</strong>; salary: <strong>{{ vacancy.salary.label|default:"<em>not specified</em>" }}</strong></p>{% if vacancy.html_description %}
  {{ vacancy.html_description|sanitize_html }}{% endif %}
</section>
{% endfor %}

<div style="clear:both"></div>
{% endblock %}
