{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
  <h1>Log in</h1>
  
  <p><a href="{% url webauth:login %}?next={{ next|urlencode }}">Log in using WebAuth</a></p>
  
  <form method="post" action="">{% csrf_token %}
    <input name="next" type="hidden" value="{{ next }}"/>
    <table>
      <tbody>{{ form }}</tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <input type="submit" value="Log in"/>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
{% endblock %}
